@import "../../utilities/_variables.scss";
@import "../../utilities/_colors.scss";
@import "../../components/_box-collapsable.scss";
@import "../../components/_background.scss";


@mixin filters-open() {
    .filters-open {
        display: block;
        position: absolute;
        width: 600px;
        height: fit-content;
        background-color: $white;
        padding-block: 15px;
        padding-inline: 20px;
        border-radius: 5px;

        .first-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            span {
                font-weight: 600;
                font-size: 1.3rem;
            }

            .close {
                cursor: pointer;
            }
        }

        .disclosure {
            color: $black;

            summary {
                position: relative;
                cursor: pointer;
                padding: 0.7rem 1.5rem 0.7rem 2rem;
                user-select: none !important;
                font-weight: 600;
                line-height: 1rem;
                font-size: 1rem;
                list-style-type: none;

                &:before {
                    content: '';
                    background-image: url(https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Chevron%20Right/SVG/ic_fluent_chevron_right_48_filled.svg);
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    height: 1.1rem;
                    width: 1.1rem;
                    transform: rotate(90deg) translate(-50%);
                    position: absolute;
                    left: 10px;
                    top: 50%;
                }
            }

            &:not([open]) {
                height: min-content;
            }

            &[open] summary {
                &:before {
                    transform: rotate(270deg) translate(50%);
                }
            }

            .disclosure-content {
                padding: 0.5rem 0.5rem 0.5rem 2rem;

                div {
                    display: inline-block;
                    font-size: 0.92rem;
                    font-weight: 600;
                    color: $white;
                    background: $black;
                    margin-bottom: 0.5rem;
                    width: fit-content;
                    padding: 7px;
                    border-radius: 5px;
                }
            }
        }
    }
}