@import "../../utilities/_variables.scss";
@import "../../utilities/_functions.scss";
@import "../../utilities/_colors.scss";

.health-a-to-z {
    margin-block: 40px;
    width: fit-content;
    margin-inline: auto;

    .searchbar-area {
        margin-bottom: 45px;
        width: fit-content;
        margin-inline: auto;

        .search-heading {
            font-size: $title;
            font-weight: 600;
            color: $white;
            text-align: center;
            margin-bottom: 60px;
        }

        .search-input-field {
            display: flex;
            width: 500px;
            margin-bottom: 10px;

            .search-text-field-input {
                width: 100%;

                input {
                    border: none;
                    font-weight: 600;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .search-button {
                width: 110px;
                height: 45px;
                background: $green;
                border: none;
                color: $white;
                font-weight: 900;
                font-size: 1rem;
                cursor: pointer;
            }
        }

        .letters {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-weight: 500;

            a {
                color: $white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .results {
        width: 700px;
        height: fit-content;

        .filters-disclosure {
            margin-bottom: 20px;



            .bio-system-buttons {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }
        }


        .result {
            height: fit-content;
            margin-bottom: 30px;

            span {
                display: block;
                font-weight: 700;
                font-size: $heading;
                color: $white;
                margin-bottom: 10px;
            }

            ul li a {
                display: block;
                background: $white;
                width: 100%;
                margin-bottom: 10px;
                padding-inline: 30px;
                padding-block: 10px;
                color: $black;
                font-size: $p1;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
                transition: ease-out 0.1s;


                &:hover {
                    background: $green;
                    color: $white;
                }
            }
        }
    }
}

@include media($bp-700) {
    .health-a-to-z {
        width: 95%;


        .searchbar-area {
            width: auto;

            .search-heading {
            }

            .search-input-field {
                margin-bottom: 20px;
                width: 100%;

                .search-text-field-input {
                    width: 100%;

                    input {
                        width: 100%;
                        font-size: $inputs-buttons;
                    }

                    .search-button {
                        width: fit-content;
                        padding-inline: 5px;
                    }
                }
            }

            .letters {
                justify-content: center;
                flex-wrap: wrap;
                gap: 15px;

                a {
                    width: 15px;
                    font-weight: 600;
                }
            }
        }

        .results {
            width: auto;

            .filters-disclosure.-content {
                padding-left: 10px;
            }
        }
    }
}
