@import "../../utilities/_variables.scss";
@import "../../utilities/_colors.scss";
@import "../../components/_box-collapsable.scss";
@import "../../components/_background.scss";
@import "_filters-open.scss";





@include nature-background(fixed);


.health-a-to-z {
    margin-block: 100px;
    width: fit-content;
    margin-inline: auto;

    .searchbar-area {
        margin-bottom: 25px;
        width: fit-content;
        margin-inline: auto;

        .search-heading {
            font-size: 2.5rem;
            font-weight: 600;
            color: $white;
            text-align: center;
            margin-bottom: 40px;
        }

        .input-field {
            position: relative;
            margin-bottom: 20px;

            .magnifying-glass-icon {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translate(-50%, -50%);
            }

            .search-icon-container {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(-35%, -50%);
                height: 32px;
                width: 32px;
                background: $black;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                cursor: pointer;

                .search-icon {
                    height: 17px;
                    transform: translate(5%);
                }
            }

            input {
                width: 600px;
                height: 45px;
                padding-left: 40px;
                border-radius: 5px;
                border: none;
                font-weight: 600;



                &:focus {
                    outline: none;
                }

                &::placeholder {
                }
            }
        }

        .filters {
            background: $white;
            width: fit-content;
            padding: 5px 10px 5px 10px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            span {
                font-weight: 500;
            }

            .filters-icon {
                display: inline-block;
            }
        }

        @include filters-open();
    }

    .results {
        width: 700px;
        height: fit-content;
        padding: 50px 70px 30px 70px;
        background: #{$black}88;
        border-radius: 10px;


        .result {
            height: fit-content;
            margin-bottom: 40px;

            span {
                display: block;
                font-weight: 700;
                font-size: 3rem;
                color: $white;
                margin-bottom: 10px;
            }

            ul {

                li {
                    display: block;
                    background: $white;
                    width: fit-content;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    padding-inline: 10px;
                    padding-block: 3px;

                    a {
                        color: $black;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
