@using iCareNow.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/healthArticle/healthArticle.min.css" asp-append-version="true" />
}
<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="" />
    <div class="background-darken"></div>
</div>
<section class="article-container -primary-section">
    <div class="vertical-line"></div>
    <div class="article-summary">
        <h1>Болно гърло</h1>
        <p>Болките в гърлото са много често срещани и обикновено няма повод за притеснение. Най-често гърлото се подобрява в рамките на една седмица.</p>
    </div>
    <div class="specialist-advice">
        <details open class="-details --box --box-red">
            <summary>
                <span>Веднага позванете на 112, ако:</span>
            </summary>
            <div class="disclosure-content -content">
                <p>
                    Вие или вашето дете:
                </p>
                <ul class="-list">
                    <li>изпитвате трудности при преглъщане или дишане </li>
                    <li>се стича слюнка от устата – това може да е признак, че не можете да преглъщате</li>
                    <li>издавате слиен звук звук при дишане (наречен стридор)</li>
                    <li>имат тежки симптоми и се влошават бързо</li>
                </ul>
            </div>
        </details>
        <details open class="-details --box --box-blue">
            <summary>
                <span>Посетете личен лекар, ако:</span>
            </summary>
            <div class="-content">
                <ul class="-list">
                    <li>болките в гърлото не се подобряват след седмица </li>
                    <li>често получавате болки в гърлото</li>
                    <li>тревожите се за болното си гърло</li>
                    <li>имате възпалено гърло и много висока температура или усещате горещина и тръпки </li>
                    <li>имате отслабена имунна система – например поради диабет или химиотерапия </li>
                    <li>Силно или продължително възпалено гърло може да бъде нещо като стрептокок в гърлото (бактериална инфекция на гърлото).</li>
                </ul>
            </div>
        </details>
    </div>

    <div class="article-content">
        <div class="subsection">
            <h2>Как сами да лекувате възпаленото си гърло</h2>
            <p>За да успокоите болното гърло и да съкратите продължителността му, можете: </p>
            <ul class="-list --margin-left">
                <li>да правите гаргара с топла, солена вода (децата не трябва да правят това)</li>
                <li>да пиете много вода</li>
                <li>да смучете кубчета лед, ледени близалки – но не давайте на малки деца нищо малко и трудно за смучене поради риск от задавяне</li>
            </ul>
            <p>Ако имате висока температура или не се чувствате достатъчно добре, за да можете да извършвате нормалните си дейности, опитайте се да си останете у дома и да избягвате контакт с други хора, докато не се почувствате по-добре.</p>
            <details class="-details --box">
                <summary><span>Как се прави гаргара със солена вода</span></summary>
                <div class="-content">
                    <p>
                        Разтворете половин чаена лъжичка сол в чаша топла вода (топлата вода помага за разтварянето на солта).
                        Направете гаргара с разтвора, след което го изплюйте (не го поглъщайте).
                        Повтаряйте колкото често желаете
                    </p>
                    <p>За да успокоите болното гърло и да съкратите продължителността му, можете: </p>
                    <ul class="-list">
                        <li>да правите гаргара с топла, солена вода (децата не трябва да правят това)</li>
                        <li>да пиете много вода</li>
                        <li>да смучете кубчета лед, ледени близалки – но не давайте на малки деца нищо малко и трудно за смучене поради риск от задавяне</li>
                    </ul>
                </div>
            </details>
        </div>
        <div class="subsection">
            <h2>Как сами да лекувате възпаленото си гърло</h2>
            <p>За да успокоите болното гърло и да съкратите продължителността му, можете: </p>
            <ul class="-list --margin-left --decimal">
                <li>да правите гаргара с топла, солена вода (децата не трябва да правят това)</li>
                <li>да пиете много вода</li>
                <li>да смучете кубчета лед, ледени близалки – но не давайте на малки деца нищо малко и трудно за смучене поради риск от задавяне</li>
            </ul>
            <p>Ако имате висока температура или не се чувствате достатъчно добре, за да можете да извършвате нормалните си дейности, опитайте се да си останете у дома и да избягвате контакт с други хора, докато не се почувствате по-добре.</p>

        </div>
    </div>

    <div class="revision-info">
        <p>Източник: <a href="#" class="-link">https://www.nhs.uk/conditions/sore-throat/</a><br />Политика на съдържанието на източника: <a href="#" class="-link">https://www.nhs.uk/our-policies/content-policy/</a></p>
        <p>Последна проверка на информацията: 05 февруари 2021 г.<br />Следващият срок за преглед: 05 февруари 2024 г.</p>

    </div>
</section>