@using iCareNow.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/healthAtoZ/healthAtoZ.min.css" asp-append-version="true" />
}
<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="" />
    <div class="background-darken"></div>
</div>

<section class="health-a-to-z -primary-section">
    <div class="searchbar-area">
        <h1 class="search-heading">Търси</h1>
        <div class="search-input-field">
            <div class="search-text-field-input -text-field-input --icon --invert">
                <input type="text" placeholder="Търси болест или симптом" />
                <img src="/assets/mag-glass.svg" />
            </div>
            <button class="search-button">ТЪРСИ</button>
        </div>
        <div class="letters">
            <a href="#Letter1" class="-hover-text-white-glare">А</a>
            <a href="#Letter2" class="-hover-text-white-glare">Б</a>
            <a href="#Letter3" class="-hover-text-white-glare">В</a>
            <a href="#Letter4" class="-hover-text-white-glare">Г</a>
            <a href="#Letter5" class="-hover-text-white-glare">Д</a>
            <a href="#Letter6" class="-hover-text-white-glare">Е</a>
            <a href="#Letter7" class="-hover-text-white-glare">Ж</a>
            <a href="#Letter8" class="-hover-text-white-glare">З</a>
            <a href="#Letter9" class="-hover-text-white-glare">И</a>
            <a href="#Letter10" class="-hover-text-white-glare">Й</a>
            <a href="#Letter11" class="-hover-text-white-glare">К</a>
            <a href="#Letter12" class="-hover-text-white-glare">Л</a>
            <a href="#Letter13" class="-hover-text-white-glare">М</a>
            <a href="#Letter14" class="-hover-text-white-glare">Н</a>
            <a href="#Letter15" class="-hover-text-white-glare">О</a>
            <a href="#Letter16" class="-hover-text-white-glare">П</a>
            <a href="#Letter17" class="-hover-text-white-glare">Р</a>
            <a href="#Letter18" class="-hover-text-white-glare">С</a>
            <a href="#Letter19" class="-hover-text-white-glare">Т</a>
            <a href="#Letter20" class="-hover-text-white-glare">У</a>
            <a href="#Letter21" class="-hover-text-white-glare">Ф</a>
            <a href="#Letter22" class="-hover-text-white-glare">Х</a>
            <a href="#Letter23" class="-hover-text-white-glare">Ц</a>
            <a href="#Letter24" class="-hover-text-white-glare">Ч</a>
            <a href="#Letter25" class="-hover-text-white-glare">Ш</a>
            <a href="#Letter26" class="-hover-text-white-glare">Щ</a>
            <a href="#Letter27" class="-hover-text-white-glare">Ъ</a>
            <a href="#Letter28" class="-hover-text-white-glare">Ю</a>
            <a href="#Letter29" class="-hover-text-white-glare">Я</a>
        </div>
    </div>

    <div class="results">

        <details class="filters-disclosure -details --horizontal-line --invert">
            <summary>
                <span>ФИЛТРИ</span>
                <div class="summary-line"></div>
            </summary>

            <div class="-content">
                <details open class="category-disclosure">
                    <summary class="category-disclosure-summary">
                        <span>Биологични системи</span>
                    </summary>

                    <div class="bio-system-buttons -content">
                        <label class="-checkbox-button --small">
                            <input type="checkbox" />
                            <span>Дихателна</span>
                        </label>
                        <label class="-checkbox-button --small">
                            <input type="checkbox" />
                            <span>Ендокринна</span>
                        </label>
                        <label class="-checkbox-button --small">
                            <input type="checkbox" />
                            <span>Кръвоносна</span>
                        </label>
                        <label class="-checkbox-button --small">
                            <input type="checkbox" />
                            <span>Отделителна</span>
                        </label>
                        <label class="-checkbox-button --small">
                            <input type="checkbox" />
                            <span>Нервна</span>
                        </label>

                        <label class="-checkbox-button --small">
                            <input type="checkbox" />
                            <span>Имунна</span>
                        </label>
                    </div>
                </details>
            </div>
        </details>



        <div class="result">
            <a id="Letter1" class="-page-section"></a>
            <span>А</span>
            <ul>
                <li><a asp-area="" asp-controller="HealthAtoZ" asp-action="HealthArticle">АНГИНА</a></li>
                <li><a>АСТРОЛИПОХИМИЯ</a></li>
                <li><a>АНЕМИЯ</a></li>
                <li><a>АБСОЛЮТНА ЗАГУБА НА СЪЗНАНИЕ</a></li>
            </ul>
        </div>

        <div class="result">
            <a id="Letter2" class="-page-section"></a>
            <span>Б</span>
            <ul>
                <li><a>БОЛНО ГЪРЛО</a></li>
                <li><a>БОЛКИ В СТОМАХА</a></li>
                <li><a>БОЛКИ В ГЛАВАТА</a></li>
            </ul>
        </div>

        <div class="result">
            <a id="Letter3" class="-page-section"></a>
            <span>В</span>
            <ul>
                <li><a>ВОЛНО ГЪРЛО</a></li>
                <li><a>ВОЛКИ В СТОМАХА</a></li>
                <li><a>ВОЛКИ В ГЛАВАТА</a></li>
            </ul>
        </div>
    </div>

</section>