@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="cookie-consent" role="alert">
        <span class="cookie-consent-title">Този сайт използва бисквитки</span>
        <span class="cookieConsentText">С Ваше съгласие, използваме бисквитки или подобни технологии за съхраняване, достъп и обработка на лични данни като Вашето посещение на този уебсайт, тъй като те са важни за работата му.</span>

        <div class="buttons-container">
            <button class="cookieConsentButton -button --invert" type="button" data-dismiss="alert" aria-label="Accept use of cookies" tabindex="1" data-cookie-string="@cookieString">Приемане</button>
            <a class="-button" asp-area="" asp-controller="Policies" asp-action="Privacy" tabindex="2">Научете повече</a>
        </div>

    </div>
    <script>
        (function () {
            var consentWindow = document.querySelector("#cookieConsent");
            var button = document.querySelector("#cookieConsent .cookieConsentButton");
            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
                consentWindow.style.display = "none";
            }, false);
        })();
    </script>
}
