@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="cookie-consent" role="alert">
        <img class="cookies-close-btn" src="~/assets/closeBtn.svg" aria-label="Close" data-cookie-string="@cookieString">
        <span class="cookieConsentText">Този сайт използва бисквитки, тъй като са важни за работата му.</span>
        <a class="-link privacy-link" asp-area="" asp-controller="Home" asp-action="Privacy"><u>Научете повече</u></a>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent img[data-cookie-string]");
            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
                button.parentNode.style.display = "none";
            }, false);
        })();
    </script>
}
