@using iCareNow.Common
@using iCareNow.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li style="margin-top: auto;"></li>
@if (this.SignInManager.IsSignedIn(this.User))
{
    <li class="nav-bottom-button"><a asp-area="Identity" asp-page="/Account/Manage/Index" class="-button --large">Профил</a></li>
}
else
{
    <li class="nav-bottom-button"><a asp-area="Identity" asp-page="/Account/Login" class="-button --large">Впиши се</a></li>
}
