@using iCareNow.Common
@{
    this.ViewData["Title"] = "Политика за поверителност";
}


@section Styles {
    <link rel="stylesheet" href="~/css/pages/policies/policies.min.css" asp-append-version="true" />
}

<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="" />
    <div class="background-darken"></div>
</div>

<section class="first-section -primary-section">
    <div class="privacy-article-container">
        <h1>Политика за поверителност</h1>

        <div class="subsection">
            <h2>Декларация за поверителност</h2>
            <p>@GlobalConstants.SystemName е изградил своята политика на дейност като се базира на уважение към Вашата поверителност по отношение на всички данни, които изискваме от Вас в нашия уебсайт и в други наши сайтове или други, с които оперираме.</p>
            <p>За да Ви предоставим нашата услуга, изискваме от Вас лична информация и то само, когато действително се нуждаем от нея. Изискваме я по съвсем законен и коректен начин, като предварително сме Ви уведомили и сме получили Вашето съгласие за събиране на личните Ви данни. Разбира се, ние сме Ви инфрмирали защо изискваме и събираме личните Ви данни и как ще ги използваме.</p>
            <p>В @GlobalConstants.SystemName запазваме получената от Вас лична информация за толкова време, което е необходимо да Ви предоставим услугата, която желаете от нас. Данните, които изискваме и запазваме ще защитаваме с цел избягване на непозволен достъп, разкриване, използване или корекция, копиране. Целта е да не се допускат загуби и кражби.</p>
            <p>@GlobalConstants.SystemName не допуска публично споделяне или споделяне с трети страни на събраната от Вас информация, с изключение на случаите , в които законът го налага.</p>
            <p>@GlobalConstants.SystemName осъществява връзка с външни сайтове. Над тях ние нямаме управление и затова не можем да контролираме тяхното съдържание и действия и съответно нямаме отговорност за техните политики за поверителност.</p>
            <p>Ние проявяваме разбиране ако не приемете нашата заявка за личните Ви данни и лична информация, ако не можем да изпълнимуслугите, които желаете.</p>
            <p>Ако Вие сте решили да използвате нашия уебсайт и продължите да го правите, това ще означава, че сте възприели нашите действия и Политика за поверителност за личните данни и лична информация. Без колебание може да се свържете с нас, ако възникнат въпроси по отношение обработването на личните Ви данни и информация</p>
            <p>Декларацията е валидна от 2023-02-11</p>
        </div>

        <div class="subsection">
            <h2>Бисквитки</h2>
            <p>Нашият сайт използва бисквитки, които са важни за коректната му работа. Посещавайки нашия сайт, Вие приемате използването на бисквити.</p>
            <p>Видове бисквитки, които използваме:</p>
            <ul class="-list">
                <li>Задължителни бисквитки - тези бисквитки са необходими за коректната работа на уебсайта. Например, с тези бисквитки ви показваме информацията на нашия сайт на правилния език, а цените - спрямо валутата и ДДС за съответната държава.</li>
                <li>Функционални бисквитки - Тези бисквитки Ви позволяват да използвате пълната функционалност на сайта ни, да гледате видеата в него, да ни пишете на чата, както и да запомняте предпочитания език, на който да се зарежда информацията на нашия сайт.</li>
            </ul>
        </div>
    </div>

</section>