@using iCareNow.Common
@{
    this.ViewData["Title"] = "Политика за поверителност";
}


@section Styles {
    <link rel="stylesheet" href="~/css/pages/policies/policies.min.css" asp-append-version="true" />
}

<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" aria-hidden="true" />
    <div class="background-darken"></div>
</div>

<article class="first-section -primary-section">
    <div class="privacy-article-container">
        <h1>Условия за ползване на iCareNow</h1>

        <div class="subsection">
            <h2>1. Условия</h2>
            <p>Щом установите достъп до сайта на iCareNow, то това означава, че сте съгласни да изпълнявате нашите условия за ползване, всички приложими закони и разпоредби и носите отговорност за спазването на всички приложими местни закони. В случай, че не сте съгласни да изпълните и спазвате посочените условия, разпоредби и закони, изрично Ви се забранява посещение и използване на нашия уебсайт.</p>
        </div>

        <div class="subsection">
            <h2>2. Лиценз</h2>
            <p>Разрешаваме Ви да правите копия на материалите на уебсайта за лично и комерсиално ползване.</p>
        </div>

        <div class="subsection">
            <h2>3. Отказ от отговорност</h2>
            <p>Държим да отбележим, че материалите на уебсайта на iCareNow предоставяме само и единствено на база и в смисъл "както е". iCareNow не дава никакви гаранции, изразени или подразбиращи се.</p>
            <p>Информацията, предоставена от iCareNow, е само за общи информационни цели и не е предназначена да замени професионален медицински съвет, диагноза или лечение. iCareNow и неговите доставчици не носият отговорност за никакви действия, предприети въз основа на информацията, предоставена на нашия уебсайт, и препоръчваме на потребителите да потърсят съвет от квалифициран медицински специалист, преди да вземат каквито и да било решения относно здравето си.</p>
            <p>iCareNow не дава гаранция за резултата от използването на материалите на сайта си и на другите сайтове, свързани с него. Не гарантира точността и надежността им.</p>
        </div>

        <div class="subsection">
            <h2>4. Ограничения</h2>
            <p>В никакъв случай iCareNow или неговите доставчици не носят отговорност за каквито и да е щети (включително, без ограничение, обезщетения за загуба на данни или печалба, или поради прекъсване на дейността), произтичащи от използването или невъзможността за използване на материалите на сайта на iCareNow. Сайтът на iCareNow, дори ако iCareNow или упълномощен представител на iCareNow е уведомен устно или писмено за възможността за такива щети. Тъй като някои юрисдикции не позволяват ограничения на подразбиращи се гаранции или ограничения на отговорността за последващи или случайни щети, тези ограничения може да не се отнасят за вас.</p>
            <p>Условията са валидни от 2023-02-11</p>
        </div>
    </div>

</article>