@import "../../utilities/_variables.scss";
@import "../../utilities/_functions.scss";
@import "../../components/_background.scss";


@include nature-background(fixed);

.first-section {
    position: relative;
    min-height: 750px;
    height: calc(100vh - $nav-height);
    padding: 15vh 0 0 0;

     

    .name-input {
        img {
            width: 15px;
        }
    }
}


@include media($bp-700) {
    .first-section {
        padding: 3vh 0 0 0;
    }
}
