@import "../../utilities/_variables.scss";
@import "../../components/_panel.scss";
@import "../../components/_background.scss";


@include nature-background(fixed);

.first-section {
    position: relative;
    min-height: 600px;
    height: calc(100vh - $nav-height);
    padding: 15vh 0 0 0;

    @include panel(1);

    .name-input {
        img {
            width: 15px;
        }
    }
}

@media screen and (max-width: 1350px) {
    .first-section {
        height: calc(100vh - $nav-height-tablet);
    }
}

@media screen and (max-width: 700px) {
    .first-section {
        padding: 3vh 0 0 0;
    }
}
