.first-section {
    padding-top: 3vh;

    .content-panel {
        width: 100vw;

        .input-field {
            width: 85vw;

            .input-text-field {
                width: 100%;
            }

            .content-textarea {
                width: 100%;
            }
        }
    }
}
