@using iCareNow.Common
@{
    this.ViewData["Title"] = "About us";
}

@section Styles {
        <link rel="stylesheet" href="~/css/pages/index/index.min.css" asp-append-version="true" />
}
<div class="background">
    <img class="background-image" src="/assets/backgroundImage.png" alt="" />
    <div class="background-darken"></div>
</div>
<section class="first-section">
    <div class="panel-container">
        <h2 class="panel-title">ЗА НАС</h2>
@*        <h4 class="panel-description">Информация, на която <br>можеш да се довериш</h4>
        <div class="panel-buttons">
            <a asp-area="" asp-controller="HealthAtoZ" asp-action="Index" class="-button --large --invert">Здраве от А до Я</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="-button --large">Впиши се</a>
        </div>*@
    </div>
</section>