@using iCareNow.Common
@{
    this.ViewData["Title"] = "За нас";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/aboutUs/aboutUs.min.css" asp-append-version="true" />
}
<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="" />
    <div class="background-darken"></div>
</div>
<section class="first-section -primary-section">
    <div class="about-us-heading-container">
        <h1>За нас</h1>
    </div>
    <div class="main-container">
        <div class="first-group">
            <div class="text-block-container">
                <h3>Какво е iCareNow</h3>
                <p>iCareNow е уеб приложение, което има за цел да предостави основни медицински познания на обикновените хора. Нашата цел е да направим медицинската информация по-достъпна и разбираема за широката общественост, така че хората да могат да се грижат по-добре за собственото си здраве и за здравето на своите близки.</p>
            </div>

            <div class="text-block-divider"></div>

            <div class="text-block-container">
                <h3>Защо го създадохме?</h3>
                <p>Вярваме, че достъпът до точна и надеждна медицинска информация е основно право и че всеки трябва да има възможност да научи повече за своето здраве и благополучие. С iCareNow целим да преодолеем пропастта между медицинските специалисти и широката общественост и да дадем възможност на хората да вземат информирани решения за собственото си здраве.</p>
            </div>

            <div class="text-block-divider"></div>

            <div class="text-block-container">
                <h3>Кои сме ние?</h3>
                <p>Ние сме двама ученици, приятели и програмисти, които са страстно настроени да променят света на здравеопазването. Събрахме се, за да създадем iCareNow, защото видяхме нуждата от прост и достъпен начин хората да научават за здравето си.</p>
            </div>
        </div>

        <div class="second-group">
            <h2>НАШАТА МИСИЯ</h2>
            <div class="icon-block-containers-wrap">
                <div class="icon-block-container">
                    <img src="/assets/messageBubble.svg" />
                    <span>
                        Да представим фактите на <span class="green">разбираем език</span>
                    </span>
                </div>

                <div class="icon-block-container">
                    <img src="/assets/swords.svg" />
                    <span>
                        Да <span class="green">преборим митовете</span> за здравето
                    </span>
                </div>

                <div class="icon-block-container">
                    <img src="/assets/hands.svg" />
                    <span>
                        Да <span class="green">помогнем</span> на тези, които имат нужда
                    </span>
                </div>
            </div>

        </div>

        <div class="third-group">
            <div class="text-block-container">
                <h3>Лични данни</h3>
                <p>Приемаме поверителността и сигурността на нашите потребители много сериозно и вземаме всички необходими предпазни мерки, за да защитим всяка лична информация, събрана от нашия уебсайт. Уверяваме нашите потребители, че личните им данни няма да бъдат споделяни с трети страни и се използват само за подобряване на работата им с нашия сайт.</p>
            </div>

            <div class="text-block-divider"></div>

            <div class="text-block-container">
                <h3>Не носим отговорност</h3>
                <p>Информацията, предоставена от iCareNow, е само за общи информационни цели и не е предназначена да замени професионален медицински съвет, диагноза или лечение. Ние не носим отговорност за никакви действия, предприети въз основа на информацията, предоставена на нашия уебсайт, и препоръчваме на потребителите да потърсят съвет от квалифициран медицински специалист, преди да вземат каквито и да било решения относно здравето си.</p>
            </div>
        </div>
    </div>
</section>