@import "../../utilities/_variables.scss";
@import "../../utilities/_functions.scss";
@import "../../utilities/_colors.scss";

.article-container {
    height: fit-content;
    width: 1350px;
    margin: 20px auto 50px auto;
    padding: 80px 100px 80px 100px;
    background: #{$black}C0;
    color: $white;
    display: grid;
    grid-template-columns: 2px 600px auto;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 75px;

    h1, h2 {
        font-weight: 600;
        margin: 0 0 10px 0;
    }

    h1 {
        font-size: $title;
    }

    h2 {
        font-size: $heading;
    }

    .tts-speaker-container {
        background: none;
        color: $white;
        display: inline-flex;
        align-items: center;
        margin: 0 0 10px 0;
        cursor: pointer;

        .tts-text {
            text-decoration: underline;
        }

        .tts-speaker, .tts-text {
            display: none;
        }

        .active {
            display: inline-block;
        }
    }

    p, ul, ol {
        font-weight: 500;
        color: #BBBBBB;
        font-size: $p1;
        margin-bottom: 1rem;
    }

    ul {
        list-style: disc;
        list-style-position: outside;
        margin-block: 1rem;

        li {
            margin-block: 0.8rem;
        }
    }

    .vertical-line {
        grid-area: 1 / 1 / 4 / 2;
        background: $white;
    }

    .article-summary {
        grid-area: 1 / 2 / 2 / 3;
    }

    .specialist-advice {
        grid-area: 1 / 3 / 4 / 4;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .article-content {
        grid-area: 2 / 2 / 3 / 3;

        .subsection {
            margin-block: 50px;
        }
    }

    .revision-info {
        grid-area: 3 / 2 / 4 / 3;

        p {
            font-size: $legal;
            margin-top: 0.9rem;
        }
    }
}


@include media($bp-1350) {
    .article-container {
        grid-template-columns: 0 600px auto;
        width: 1200px;
        padding-inline: 0;

        .vertical-line {
            display: none;
        }
    }
}

@include media($bp-1200) {
    .article-container {
        grid-template-columns: 45vw 45vw;
        gap: 0;
        width: min-content;
        padding-top: 50px;
        padding-inline: 30px;

        .vertical-line {
            display: none;
        }

        .article-summary {
            grid-area: 1 / 1 / 1 / 3;
        }

        .specialist-advice {
            grid-area: 2 / 1 / 2 / 3;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 0;
            gap: 20px;
        }

        .article-content {
            grid-area: 3 / 1 / 3 / 3;

            .subsection:nth-child(1) {
                margin-top: 1rem;
            }
        }

        .revision-info {
            grid-area: 4 / 1 / 4 / 3;
        }
    }
}

@include media($bp-950) {
    .article-container {
        .specialist-advice {
            justify-content: left;
            align-items: flex-start;
        }
    }

    .article-container {
        justify-content: center;
        width: 100%;
        padding: 25px 0 0 0;
        margin: 0;

        h1 {
            font-size: $health-article-title;
        }

        h2 {
            font-size: $health-article-heading;
        }

        p, ol, ul {
            font-size: $p3;
        }

        .subsection ul,
        .subsection ol {
            margin-left: 0.5rem;
        }

        .revision-info p {
            font-size: $legal;
            margin-bottom: 50px;
        }
    }

    details.-details.--box {
        width: 100%;
    }
}
