@import "../../utilities/_variables.scss";
@import "../../utilities/_functions.scss";
@import "../../components/_panel.scss";
@import "../../components/_background.scss";



@include nature-background(fixed);

.first-section {
    position: relative;
    min-height: 600px;
    height: calc(100vh - $nav-height);
    padding: 15vh 0 0 0vw;
    display: flex;
    justify-content: space-around;

    @include panel(1);
}

.greeting-quote {
    margin-top: 50px;
}

@include media($bp-1100) {
    .first-section {
        display: block;
        padding: 15vh 0 0 10vw;
    }

    .greeting-quote {
        display: none;
    }
}
