@import "../../utilities/_variables.scss";
@import "../../utilities/_functions.scss";

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 15vh;
}

@include media($bp-1100) {
    .first-section {
        flex-direction: row;
        padding-top: 10vh;
        padding-left: 5vw;
    }
}

@include media($bp-950) {
    .first-section {
        justify-content: flex-start;
        padding-top: 8vh;
        padding-left: 10vw;
    }

    .greeting-quote {
        display: none;
    }
}
