@import "../../utilities/variables";
@import "../../components/buttons/buttons";
@import "../../components/panel";

.first-section {
    position: relative;
    padding: 4vw 0 0 3vw;
    height: calc(100vh - $nav-height);

    .background-image {
        z-index: -99;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        filter: brightness(85%)
    }

    @include panel(1.15);
}

@media screen and (max-width: 700px) {
    .first-section {
        padding: 0 !important;
    }
}

.categories-container {
    width: 100%;
    height: min-content;
    background-color: $green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .choose-category {
        text-align: center;
        color: $white;
        font-size: 2rem;
        font-weight: 500;
        margin-block: 50px;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-block: 20px;

        @include btn-icon(1, 20px);
    }

    @include btn-white(1, 40px);
}

@media screen and (max-width: 900px) {
    .categories-container {
        .categories {
            @include btn-icon(0.8, 10px);
        }

        @include btn-white(1, 50px);
    }
}
