.first-section {
  position: relative;
  padding: 4vw 0 0 3vw;
  height: calc(100vh - 75px);
}
.first-section .background-image {
  z-index: -99;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(85%);
}
.first-section .panel-container {
  height: auto;
  width: 485px;
  background-color: #080808;
  color: #ffffff;
  border-radius: 0 0 50% 0;
  padding: 50px 0 50px 40px;
}
.first-section .panel-container .panel-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.first-section .panel-container .panel-description {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 0 40px 0;
}
.first-section .panel-container .panel-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.first-section .panel-container .panel-buttons .btn-black {
  display: block;
  height: 40.25px;
  width: fit-content;
  padding-inline: 30px;
  margin: 0px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  color: #ffffff;
  background-color: #080808;
  user-select: none !important;
  font-weight: 600;
  font-size: 1.035rem;
  line-height: 38.25px;
  white-space: nowrap;
}
.first-section .panel-container .panel-buttons .btn-black:hover {
  background-color: #ffffff;
  color: #080808;
}
@media screen and (max-width: 700px) {
  .first-section .panel-container {
    width: 100%;
    padding: 30px 0 50px 40px;
  }
  .first-section .panel-container .panel-title {
    font-size: 2rem;
  }
  .first-section .panel-container .panel-description {
    font-size: 1rem;
  }
}
@media screen and (orientation: landscape) and (max-height: 520px) {
  .first-section .panel-container {
    transform: scale(0.6);
    transform-origin: left top;
  }
}

@media screen and (max-width: 700px) {
  .first-section {
    padding: 0 !important;
  }
}
.categories-container {
  width: 100%;
  height: min-content;
  background-color: #7bd79d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.categories-container .choose-category {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-block: 50px;
}
.categories-container .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 20px;
  /* TODO: Possible optimization: Add @media here instead of everywhere else */
}
.categories-container .categories .btn-icon {
  display: block;
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline: 10px;
  margin: 20px;
  border: none;
  border-radius: 23px;
  color: #080808;
  background-color: #ffffff;
  user-select: none !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.categories-container .categories .btn-icon img {
  height: 65px;
}
.categories-container .categories .btn-icon span {
  /*display: block;*/
  /*height: calc(50px * $scale);*/
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}
.categories-container .btn-white {
  display: block;
  height: 40px;
  width: fit-content;
  padding-inline: 30px;
  margin: 40px;
  border: none;
  border-radius: 10px;
  color: #080808;
  background-color: #ffffff;
  user-select: none !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  line-height: 40px;
  white-space: nowrap;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 900px) {
  .categories-container .categories {
    /* TODO: Possible optimization: Add @media here instead of everywhere else */
  }
  .categories-container .categories .btn-icon {
    display: block;
    height: 120px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-inline: 10px;
    margin: 10px;
    border: none;
    border-radius: 23px;
    color: #080808;
    background-color: #ffffff;
    user-select: none !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .categories-container .categories .btn-icon img {
    height: 52px;
  }
  .categories-container .categories .btn-icon span {
    /*display: block;*/
    /*height: calc(50px * $scale);*/
    font-weight: 500;
    font-size: 0.96rem;
    text-align: center;
  }
  .categories-container .btn-white {
    display: block;
    height: 40px;
    width: fit-content;
    padding-inline: 30px;
    margin: 50px;
    border: none;
    border-radius: 10px;
    color: #080808;
    background-color: #ffffff;
    user-select: none !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    line-height: 40px;
    white-space: nowrap;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
