@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Промени парола";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/identity/login.min.css" asp-append-version="true" />
}

<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="Background image" />
    <div class="background-darken"></div>
</div>


<section class="first-section -primary-section --responsive-top-padding">

    <div class="-content-panel --center">
        <h2 class="panel-title">@ViewData["Title"]</h2>
        <h4 class="panel-description">Променете своята парола</h4>

        <form id="change-password-form" method="post" class="panel-column-flex">
            <div class="input-field">
                <div class="input-text-field -text-field-input --icon --invert-icon">
                    <input asp-for="Input.OldPassword" placeholder="Стара парола" type="password" />
                    <img src="/assets/keyIcon.svg" alt="Icon of old password input field" />
                </div>
                <span asp-validation-for="Input.OldPassword" class="-validation-error"></span>
            </div>

            <div class="input-field">
                <div class="input-text-field -text-field-input --icon --invert-icon">
                    <input asp-for="Input.NewPassword" placeholder="Нова парола" type="password" />
                    <img src="/assets/keyIcon.svg" alt="Icon of new password input field" />
                </div>
                <span asp-validation-for="Input.NewPassword" class="-validation-error"></span>
            </div>

            <div class="input-field">
                <div class="input-text-field -text-field-input --icon --invert-icon">
                    <input asp-for="Input.NewPassword" placeholder="Нова парола" type="password" />
                    <img src="/assets/keyIcon.svg" alt="Icon of confirm new password input field" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="-validation-error"></span>
            </div>

            <partial name="_StatusMessage" model="Model.StatusMessage" />

            <button type="submit" class="-button --large">Промени</button>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}