@page
@model EmailModel
@{
    ViewData["Title"] = "Промени имейл";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/identity/login.min.css" asp-append-version="true" />
}




<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="Background image" />
    <div class="background-darken"></div>
</div>

<section class="first-section -primary-section --responsive-top-padding">

    <div class="-content-panel --center">
        <h2 class="panel-title">@ViewData["Title"]</h2>
        <h4 class="panel-description">Променете своя имейл</h4>

        <form id="email-form" method="post" class="panel-column-flex">
            <div class="input-field">
                <div class="input-text-field -text-field-input --icon --disabled --invert-icon">
                    <input asp-for="Email" type="text" disabled />
                    <img src="/assets/mailIcon.svg" alt="Icon of disabled current email input field" />
                </div>
                <span asp-validation-for="Email" class="-validation-error"></span>
            </div>

            <div class="input-field">
                <div class="input-text-field -text-field-input --icon --invert-icon">
                    <input asp-for="Input.NewEmail" placeholder="Нов имейл" type="text" />
                    <img src="/assets/mailIcon.svg" alt="Icon of new email input field" />
                </div>
                <span asp-validation-for="Input.NewEmail" class="-validation-error"></span>
            </div>
            <partial name="_StatusMessage" model="Model.StatusMessage" />

            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="-button --large">Промени</button>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
