@page
@model EmailModel
@{
    ViewData["Title"] = "Промени имейл";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/identity/login.min.css" asp-append-version="true" />
}




<div class="background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="" />
    <div class="background-darken"></div>
</div>

<section class="first-section">

    <div class="panel-container panel-centered">
        <h2 class="panel-title">@ViewData["Title"]</h2>
        <h4 class="panel-description">@this.User.Identity.Name</h4>

        <form id="email-form" method="post">
            <div class="input-fields">
                <div class="input-field">
                    <div class="input-text-field -text-field-input --icon --disabled --invert-icon">
                        <input asp-for="Email" placeholder="Стар имейл" type="text" disabled />
                        <img src="/assets/mailIcon.svg" />
                    </div>
                    <span asp-validation-for="Email" class="-validation-error"></span>
                </div>

                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                else
                {
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="-button">Send verification email</button>
                }

                <div class="input-field">
                    <div class="input-text-field -text-field-input --icon --invert-icon">
                        <input asp-for="Input.NewEmail" placeholder="Имейл" type="text" />
                        <img src="/assets/mailIcon.svg" />
                    </div>
                    <span asp-validation-for="Input.NewEmail" class="-validation-error"></span>
                </div>

                <partial name="_StatusMessage" model="Model.StatusMessage" />

            </div>

            <div class="panel-buttons">
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail"  class="-button --large">Промени</button>

            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
