@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "_colors.scss";
@import "_variables.scss";

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: $base-font-size;
    font-weight: 400;
    /*
    400 - Normal, Book, Regular
    500 - Medium
    600 - Semi Bold
    700 - Bold
    */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    /*outline: 1px dotted red;*/
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

ol, ul {
    list-style: none;
}

ul.list, ol.list {
    list-style: disc;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;

    &:link, &:visited, &:hover {
        color: $black;
    }
}

button, input, textarea {
    background: $gray;
    color: $black;
    border-radius: 0;
    border: none;
    outline: none;
}

button {
    cursor: pointer;

    &:hover {
        background: $gray;
    }
}

textarea {
    resize: none;
}

details {
    summary {
        list-style-type: none;
        user-select: none !important;
        cursor: pointer;

        span {
            user-select: none !important;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
