@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "_colors.scss";
@import "_functions.scss";
@import "_variables.scss";

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: $base-font-size;
    font-weight: 400;
    font-feature-settings: 'locl' 0; // Changes how fonts look depending on localization
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    /*outline: 1px dotted red;*/
}

*:focus-visible {
    z-index: 99;
    outline: dashed 4px crimson;
}

html:focus-within {
    scroll-behavior: smooth;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

main {
    min-height: calc(100vh - $nav-height);
}

@include media($bp-1100) {
    main {
        min-height: calc(100vh - $nav-height-tablet);
    }
}

@include media($bp-950) {
    main {
        min-height: calc(100vh - $nav-height-phone);
    }
}

.--disable-body-scroll {
    height: 100%;
    overflow: hidden;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

ol, ul {
    list-style: none;
}

ul.list, ol.list {
    list-style: disc;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;

    &:link, &:visited, &:hover {
        color: $black;
    }
}

button, input, textarea {
    background: $gray;
    color: $black;
    border-radius: 0;
    border: none;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s !important;
    -webkit-text-fill-color: #fff !important;
}

button {
    cursor: pointer;

    &:hover {
        background: $gray;
    }
}

textarea {
    resize: none;
}

details {
    summary {
        list-style-type: none;
        cursor: pointer;

        span {
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }


    *, //:not(.navbar):not(.nav-items),
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    .navbar,
    .nav-items {
        transition-duration: 0.06s !important;
    }
}
