$nav-height: 120px;
$nav-height-tablet: 90px;
$nav-height-phone: 55px;

$base-font-size: 16px;

$bp-700: 700px;
$bp-950: 950px;
$bp-1100: 1100px;
$bp-1200: 1200px;
$bp-1350: 1350px;
$bp-1600: 1600px;

$title: 3rem;
$subtitle: 1.3rem;

$heading: 2rem;
$p1: 1.2rem;
$p2: 1.1rem;
$p3: 1rem;
$legal: 0.9rem;

$inputs-buttons: 1rem;

$nav-items: 1.2rem;

$health-article-title: 2.3rem;
$health-article-heading: 1.5rem;
