/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import "../components/buttons/buttons";

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%; // 16px
    font-weight: 400;
    /*
    400 - Normal, Book, Regular
    500 - Medium
    600 - Semi Bold
    700 - Bold
    */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    /*outline: 1px dotted red;*/
}

body {
    overflow-x: hidden;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $white;

    &:link, &visited, &:hover {
        color: $white;
    }

    &:hover {
        text-shadow: 0 0 0.1px $white;
    }
}

a.link {
    color: $link;
    font-weight: 500;

    &:link, &:visited, &:hover {
        color: $link;
        text-shadow: none;
    }


    &:hover {
        text-decoration: underline;
    }
}