@using iCareNow.Common
@using iCareNow.Data.Models
@using Microsoft.AspNetCore.Identity
@model iCareNow.Web.ViewModels.Home.HomeIndexViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <div class="-content-panel">
        <h2 class="panel-title">Добре дошъл, <br><vc:user></vc:user></h2>
        <h4 class="panel-description">Информация, на която <br>можеш да се довериш</h4>
        <div class="panel-column-flex">
            <a asp-area="" asp-controller="Health" asp-action="Index" class="-button --large">Здраве от А до Я</a>
        </div>
    </div>
}
else
{
    <div class="-content-panel">
        <h2 class="panel-title">Медицински <br>наръчник</h2>
        <h4 class="panel-description">Информация, на която <br>можеш да се довериш</h4>
        <div class="panel-column-flex">
            <a asp-area="" asp-controller="Health" asp-action="Index" class="-button --large --invert">Здраве от А до Я</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="-button --large">Впиши се</a>
        </div>
    </div>
}
