@using iCareNow.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/index/index.min.css" asp-append-version="true" />
}

<section class="first-section">
    <img class="background-image" src="assets/backgroundImage.png" alt="" />

    <div class="panel-container">
        <h2 class="panel-title">Медицински <br>наръчник</h2>
        <h4 class="panel-description">Информация, на която <br>можеш да се довериш</h4>
        <div class="panel-buttons">
            <a href="#" class="btn-black">Здраве от А до Я</a>
            <a href="#" class="btn-black">Впиши се</a>
        </div>
    </div>
</section>

@*
<section class="first-section">
    <img class="background-image" src="assets/backgroundImage.png" alt="" />

    <div class="panel-container">
        <h2 class="panel-title">Впиши се</h2>

        <div class="input-fields">
            <div class="input-w-icon">
                <img src="assets/mailIcon.svg" class="input-icon" />
                <input class="input-field" type="text" placeholder="Имейл или потребителско име" />
            </div>
            <div class="input-w-icon">
                <img src="assets/keyIcon.svg" class="input-icon" />
                <input class="input-field" type="text" placeholder="Парола" />
            </div>
        </div>

        <a href="#" class="link forgotten-password">Забравена парола?</a>

        <div class="panel-buttons">
            <a href="#" class="btn-black">Впиши се</a>
        </div>
        <span class="create-account-question">Не разполагаш с акаунт? <a href="#" class="link">Създай го!</a></span>
    </div>
</section>
*@

<section class="categories-container">
    <h3 class="choose-category">ИЗБЕРЕТЕ КАТЕГОРИЯ</h3>
    <div class="categories">
        <a href="#" class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </a>
        <a href="#" class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </a>
        <a href="#" class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </a>
        <a href="#" class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </a>
    </div>
    <a href="#" class="btn-white">Виж всички</a>
</section>