@using iCareNow.Common
@model iCareNow.Web.ViewModels.Home.HomeIndexViewModel
@{
    this.ViewData["Title"] = "Начало";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/index/index.min.css" asp-append-version="true" />
}
<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="" />
    <div class="background-darken"></div>
</div>
<section class="first-section -primary-section">
    <partial name="_HomePanelPartial" model="@Model" />

    <div class="-quotes-slideshow greeting-quote">
        <div class="content">
            <span class="quotation-mark">“</span>
            <q class="user-quote active">Има наистина ползена информация, благодарение на която хремата ми бързо отмина!</q>
            <q class="user-quote">Сайтът е изключително полезен за мен и моите близки - информацията е точна и лесна за разбиране.</q>
            <q class="user-quote">Хареса ми много функционалността на сайта - интуитивен, лесен за използване и много полезен!</q>
            <span class="quotation-mark">”</span>
        </div>
        <div class="dots">
            <span class="user-quote-dot active" onclick="userClickSlide(0)"></span>
            <span class="user-quote-dot" onclick="userClickSlide(1)"></span>
            <span class="user-quote-dot" onclick="userClickSlide(2)"></span>
        </div>
    </div>
</section>