@using iCareNow.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/pages/index/index.min.css" asp-append-version="true" />

<section class="first-section">
    <img class="background-image" src="assets/backgroundImage.png" alt="" />

    <div class="panel-container">
        <h2 class="panel-title">Медицински <br>наръчник</h2>
        <h4 class="panel-description">Информация, на която <br>можеш да се довериш</h4>
        <div class="panel-buttons">
            <button type="button" class="btn-black">Здраве от А до Я</button>
            <button type="button" class="btn-black">Впиши се</button>
        </div>
    </div>
</section>

<section class="categories-container">
    <h3 class="choose-category">ИЗБЕРЕТЕ КАТЕГОРИЯ</h3>
    <div class="categories">
        <button class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </button>
        <button class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </button>
        <button class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </button>
        <button class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </button>
    </div>
    <button type="button" class="btn-white">Виж всички</button>
</section>
</div>