@using iCareNow.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/index/index.min.css" asp-append-version="true" />
}
<div class="background">
    <img class="background-image" src="/assets/backgroundImage.png" alt="" />
    <div class="background-darken"></div>
</div>
<section class="first-section">
    <div class="panel-container">
        <h2 class="panel-title">Медицински <br>наръчник</h2>
        <h4 class="panel-description">Информация, на която <br>можеш да се довериш</h4>
        <div class="panel-buttons">
            <a asp-area="" asp-controller="Diseases" asp-action="Index" class="btn-default btn-inverted">Здраве от А до Я</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn-default">Впиши се</a>
        </div>
    </div>
</section>

@*<section class="categories-container">
    <h3 class="choose-category">ИЗБЕРЕТЕ КАТЕГОРИЯ</h3>
    <div class="categories">
        <a href="#" class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </a>
        <a href="#" class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </a>
        <a href="#" class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </a>
        <a href="#" class="btn-icon">
            <img src="/assets/manBreathing.svg" />
            <span>Дихателна система</span>
        </a>
    </div>
    <a href="#" class="btn-white">Виж всички</a>
</section>*@