@import "../../utilities/_colors.scss";
@import "../../utilities/_variables.scss";
@import "../../utilities/_functions.scss";

header {
    .navbar.--mobile-active {
        background-color: #{$black}E0 !important;

        .nav-items {
            opacity: 1;
            position: absolute;
            top: $nav-height-phone;
            left: 0;
            width: 100%;
            height: auto;
            padding: 20px 0px 40px 0px;
            max-height: calc(100vh - $nav-height-phone);
            background-color: #{$black}E0;
            overflow-y: scroll;
            flex-direction: column;
            justify-content: flex-start;

            &::before {
                content: '';
                display: block;
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
            }

            li.nav-item {
                display: block;

                a {
                    width: 100%;
                    display: block;
                    font-size: 1.2rem !important;
                    padding: 20px 40px;
                    font-weight: 500;
                    text-transform: uppercase;

                    &::after {
                        all: initial;
                        /*                        content: '';
                        position: absolute;
                        display: block;
                        width: calc(100% - 80px);
                        left: 0;
                        margin-inline: 40px;
                        height: 1px;
                        bottom: 0;
                        background: $white;*/
                    }

                    &::before {
                        content: ' ';
                        display: block;
                        position: absolute;
                        transform: translate(0, -50%);
                        top: 50%;
                        right: 40px;
                        height: 18px;
                        width: 18px;
                        background: url("../../../assets/arrow.svg") no-repeat;
                        background-size: cover;
                        filter: invert(1);
                    }
                }
            }

            .nav-bottom-button {
                display: block;
                z-index: 1;
                margin: 30px auto 0 auto;
            }
        }

        .menu-btn {
            display: none !important;
        }

        .close-btn {
            display: block !important;
        }
    }
}


@include media($bp-700) {
    header {
        .navbar.--mobile-active {
            .nav-items {
                height: calc(100vh - $nav-height-phone);
                padding: 20px 0px 110px 0px;

                .nav-item a {
                    display: block;
                    width: 100%;
                    font-size: 1.4rem !important;
                }

                .nav-bottom-button {
                    margin-inline: auto;
                }
            }
        }
    }
}