@import "../../utilities/_colors.scss";
@import "../../utilities/_variables.scss";
@import "../../utilities/_functions.scss";

header {
    .navbar.--mobile-active {
        .nav-items {
            display: flex !important;
            position: absolute;
            top: $nav-height-phone;
            left: 0;
            width: 100%;
            height: auto;
            max-height: calc(100vh - $nav-height-phone);
            background-color: #{$black}F0;
            padding: 30px 40px 40px 40px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 40px;

            &::before {
                content: '';
                display: block;
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
            }

            .nav-item {
                display: block !important;

                a {
                    width: 100%;
                    display: block;
                    font-size: $subtitle !important;
                    text-transform: uppercase;

                    &:after {
                        content: none !important;
                    }
                }
            }
        }

        .menu-btn {
            display: none !important;
        }

        .close-btn {
            display: block !important;
        }
    }
}


@include media($bp-700) {
    header {
        .navbar.--mobile-active {
            .nav-items {
                height: calc(100vh - $nav-height-phone);

                .nav-item a {
                    display: block;
                    width: 100%;
                    font-size: 1.4rem !important;
                }
            }
        }
    }
}