@import "../../utilities/_colors.scss";
@import "../../utilities/_variables.scss";

.nav-active.nav-items {
    display: flex !important;
    position: absolute;
    top: $nav-height-tablet;
    left: 0;
    width: 100%;
    height: auto;
    max-height: calc(100vh - $nav-height-tablet);
    background-color: #{$black}F0;
    padding: 30px 40px 40px 40px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 40px;
    backdrop-filter: blur(4px);

    .nav-item {
        display: block !important;

        a {
            width: 100%;
            display: block;
            font-size: 1.3rem !important;
            text-transform: uppercase;

            &:after {
                content: none !important;
            }
        }
    }
}

@media screen and (max-width: 700px) {


    .nav-active.nav-items {
        height: calc(100vh - $nav-height-tablet);

        .nav-item {
            a {
                font-size: 1.4rem !important;
                width: 100%;
                display: block;
            }
        }
    }
}

.menu-active {
    .menu-btn {
        display: none !important;
    }

    .close-btn {
        display: block !important;
    }
}
