@import "../../utilities/_colors.scss";
@import "../../utilities/_variables.scss";
@import "../../utilities/_functions.scss";
@import "nav-open";

header {
    height: $nav-height;

    .navbar {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $nav-height;
        width: 100%;
        padding-inline: 5vw;
        color: $white;
        transition: 0.2s ease-in-out;

        .logo {
            flex-basis: 160px;
            font-size: 2rem;
            font-weight: 500;

            a {
                color: $white;
            }
        }

        .nav-items {
            flex-basis: auto;
            display: flex;
            justify-content: center;

            .nav-item {
                display: inline;
                margin-inline: calc(1vw - 5px);
                list-style-type: none;

                a {
                    position: relative;
                    font-size: 1.2rem;
                    font-weight: 400;
                    white-space: nowrap;
                    color: $white;
                }
            }

            .nav-bottom-button {
                display: none;
            }
        }

        .account-btn-container {
            flex-basis: 160px;
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            align-items: center;

            .account-name {
                color: $white;
                text-align: right;
                white-space: nowrap;
                font-size: 1rem;
            }

            .profile-btn {
                height: 40px !important;
            }
        }

        .menu-btn,
        .close-btn {
            height: 40px;
            cursor: pointer;
            display: none;
        }
    }

    .navbar.scrolled {
        background-color: #{$black}A0;
        box-shadow: 5px -1px 12px -5px #{$white}20;

        &::before {
            content: '';
            display: block;
            z-index: -1;
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
        }
    }
}


@include media($bp-1100) {
    header {
        height: $nav-height-tablet;

        .navbar {
            height: $nav-height-tablet;
            justify-content: space-around;
            padding-inline: 0;

            .logo {
                font-size: 1.7rem;
            }

            .nav-items {
                .nav-item {
                    a {
                        font-size: 1rem;
                    }
                }
            }

            .account-btn-container {
                .account-name {
                    font-size: 0.9rem;
                }
            }

            .account-btn-container .profile-btn {
                height: 35px;
            }
        }
    }
}

@include media($bp-950) {
    header {
        height: $nav-height-phone;

        .navbar {
            height: $nav-height-phone;
            justify-content: space-between;
            padding-inline: 30px;
            background-color: #{$black}A0;
            box-shadow: none;

            &.scrolled {
                background-color: #{$black}A0;
            }

            &:before {
                content: '';
                display: block;
                z-index: -1;
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backdrop-filter: blur(15px);
                backdrop-filter: blur(15px);
            }

            .nav-items {
                display: flex;
                height: 0;
                opacity: 0;
                transition: opacity 0.2s ease-in;

                li.nav-item {
                    display: none;
                }
            }

            .account-btn-container {
                .account-name, .profile-btn {
                    display: none;
                }
            }

            .menu-btn,
            .close-btn {
                height: 35px;
            }

            .menu-btn {
                display: block;
            }
        }
    }
}
