@import "utilities/_reset.scss";
@import "utilities/_functions.scss";

a.-page-section[id] {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 100px;
    margin-top: -100px;
}

.-hide {
    display: none;
}

.-h1 {
    font-size: 3rem;
}

.-h2 {
    font-size: 2rem;
}

.-h3 {
    font-size: 1.5rem;
}

.-h4 {
    font-size: 1.3rem;
}

.-h5 {
    font-size: 1.2rem;
}

.-h6 {
    font-size: 1.1rem;
}

.-font-weight-400 {
    font-weight: 400;
}

.-font-weight-500 {
    font-weight: 500;
}

.-font-weight-600 {
    font-weight: 600;
}

.-font-weight-700 {
    font-weight: 700;
}

.-font-weight-800 {
    font-weight: 800;
}

.-font-weight-900 {
    font-weight: 900;
}

.-hover-text-white-glare:hover {
    text-shadow: 0 0 0.3px $white;
}

.-backdrop-blur {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(2px);
    }
}

.-primary-section {
    position: relative;
    margin-bottom: 40px;

    &.--responsive-top-padding {
        padding-top: 10vh;

        @include media($bp-1100) {
            padding-top: 8vh;
        }

        @include media($bp-950) {
            padding-top: 6vh;
        }
    }
}

a.-link {
    color: $link;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;


    &:link, &:visited, &:hover {
        color: $link;
    }

    &:hover {
        filter: hue-rotate(10deg);
    }

    &.--white {
        color: $white;
        font-weight: 600;

        &:link, &:visited {
            color: $white;
        }

        &:hover {
            color: #{$white}E5;
        }
    }
}

ol.-list, ul.-list {
    list-style-type: disc;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    & > * {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }

    &.--decimal {
        list-style: decimal;
    }

    &.--margin-left {
        margin-left: 2rem;
    }
}

.-textarea {
    height: 200px;
    width: 320px;
    background: none;
    border: 1px solid #{$white}AA;
    color: $white;
    padding: 10px;
    font-size: $inputs-buttons;
    backdrop-filter: blur(2px); // textarea cannot contain elements (incl. :before and :after)

    &:focus {
        outline: solid 1px $white;
    }

    &.--invert {
        background: $white;
        border: 1px solid #{$black}AA;
        color: $black;

        &:focus {
            outline: solid 1px $black;
        }
    }
}

textarea.--resize-vertical {
    resize: vertical;
}

textarea.--resize-horizontal {
    resize: horizontal;
}

textarea.--resize {
    resize: both;
}

a.-underline-anim-white {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        transition: 0.2s;
        height: 1px;
        width: 0%;
        border-radius: 10px;
        background: $white;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

details.-details {
    summary {
        position: relative;
        padding-left: 1.5rem;
        line-height: $p3;
        font-size: $p3;
        list-style-type: none;

        &:before {
            content: '';
            background-image: url(/assets/arrow.svg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            height: 12px;
            width: 12px;
            transform: rotate(90deg) translate(-50%);
            position: absolute;
            left: 5px;
            top: 50%;
        }

        span {
            display: inline-block;
            font-weight: 600;
            color: $black;
        }
    }

    &.--invert {
        summary {
            span {
                color: $white;
            }

            &:before {
                filter: invert(1);
            }

            &:after {
                background: $white !important;
            }
        }
    }

    &.--horizontal-line {
        > summary {
            display: flex;
            align-items: center;

            &:after {
                content: '';
                display: inline-block;
                margin-left: 10px;
                height: 1px;
                flex: 1 0 auto;
                background-color: $black;
            }
        }
    }

    &.--box {
        width: 390px;
        background: $white;
        border-radius: 8px;

        summary {
            border-radius: 8px;
            background: $white;
            padding: 0.7rem 1.5rem 0.7rem 2rem;

            &:before {
                left: 10px;
            }
        }

        &[open] summary {
            border-radius: 8px 8px 0 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        }

        > .-content {
            padding: 0.9rem 0.8rem 0.8rem 0.8rem;

            p, ol, ul {
                font-size: calc($p3 - 0.08rem);
                font-weight: 600;
                color: $black;
            }

            strong {
                font-size: calc($p3);
                font-weight: 700;
            }

            & *:first-child {
                margin-top: 0;

                li {
                    margin-top: 0;
                }
            }
        }

        &.--box-gray {
            background: #E9E9E9;

            summary {
                background: #E6E6E6;

                span {
                }
            }
        }

        &.--box-black {
            background: $dark-gray;

            summary {
                background: $dark-gray;

                span {
                    color: $white;
                }

                &:before {
                    filter: invert(1);
                }
            }

            .-content {
                p, span, li {
                    color: $white;
                }
            }
        }

        &.--box-red {
            summary {
                background: #EF4C5F;

                span {
                    color: $white;
                }

                &:before {
                    filter: invert(1);
                }
            }
        }

        &.--box-blue {
            summary {
                background: #0085FF;

                span {
                    color: $white;
                }

                &:before {
                    filter: invert(1);
                }
            }
        }
    }

    &:not([open]) {
        height: min-content;
    }

    &[open] > summary {
        &:before {
            transform: rotate(270deg) translate(50%);
        }
    }

    .-content {
        padding-left: 1rem;
        padding-top: 15px;
    }
}



button.-button,
a.-button {
    position: relative;
    display: inline-block;
    height: 36px;
    width: fit-content;
    padding-inline: 36px;
    color: $white;
    background-color: transparent;
    border: 1px solid $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 35px;
    white-space: nowrap;
    transition: ease-in-out 0.2s;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(2px);
    }

    &:hover {
        background-color: $white;
        color: $black;
    }

    &.--small {
        height: 30px;
        padding-inline: 30px;
        line-height: 28px;
        font-size: 0.75rem;
    }

    &.--large {
        height: 45px;
        padding-inline: 45px;
        line-height: 45px;
        font-size: 1rem;
    }

    &.--invert {
        color: $black;
        background-color: $white;
        border: 1px solid transparent;

        &:hover {
            background: #{$white}E0;
        }
    }

    &.--danger {
        background-color: $danger;
        border-color: $danger;

        &:hover {
            background-color: #B01928;
            border-color: #B01928;
            color: $white;
        }

        &:active {
            border: 1px solid transparent;
            transition: ease-in-out 0s;
            box-shadow: inset 0px 0px 15px $danger;
        }
    }
}

label.-checkbox-button {
    display: inline-block;

    &.--small span {
        height: 30px;
        padding-inline: 30px;
        line-height: 28px;
        font-size: 0.75rem;
    }

    &.--large span {
        height: 45px;
        padding-inline: 45px;
        line-height: 45px;
        font-size: 1rem;
    }

    &.--invert span {
        color: $black;
        background-color: $white;
        border: 1px solid transparent;
    }

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;

        &:focus-visible + span {
            z-index: 99;
            outline: dashed 4px crimson;
        }
    }

    input:checked + span {
        background-color: $green;
        color: $white;
        border: 1px solid transparent;
    }

    span {
        position: relative;
        display: inline-block;
        height: 36px;
        width: fit-content;
        padding-inline: 36px;
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 35px;
        white-space: nowrap;
        transition: ease-in-out 0.2s;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            backdrop-filter: blur(2px);
        }

        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}

input[type="checkbox"].-checkbox,
input[type="radio"].-checkbox {
    height: 20px;
    width: 20px;
    appearance: none;
    background: $white;
    border: 2px solid $gray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        border: 2px solid #aaa;
    }

    &:disabled {
        opacity: 0.7;
        background: $gray;
        border: 2px solid #aaa;
        cursor: not-allowed;
    }

    &:after {
        content: "";
        display: block;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
    }

    &:checked:after {
        transform: scale(1);
    }

    &:after {
        width: 16px;
        height: 16px;
    }

    &:checked {
        border: none;
        background-color: $green;

        &:after {
            display: flex;
            justify-content: center;
            width: 10px;
            background-image: url(/assets/checkmark.svg);
            background-repeat: no-repeat;
            background-position: center;
            content: ' ';
        }
    }
}

.-checkbox-label {
    display: flex;
    gap: 10px;
    align-items: center;
    color: $white;
}

.-text-field-input {
    width: 320px;
    position: relative;

    > input {
        height: 45px;
        width: 100%;
        background: none;
        border: 1px solid #{$white}AA;
        color: $white;
        padding: 0 10px 0 15px;
        font-size: $inputs-buttons;

        &::placeholder {
            color: $gray;
        }

        &:focus {
            outline: solid 1px $white;
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(2px);
    }

    &.--password {
        > img.-password-show-toggle {
            display: none;
            max-width: 20px;
            opacity: 0.85;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translate(-50%, -50%);
        }

        > img.--active {
            display: block;
        }
    }

    &.--icon {

        > input {
            padding: 0 10px 0 40px;
        }

        > img.-input-icon {
            max-width: 17px;
            height: 18px;
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(-50%, -50%);
        }
    }

    &.--disabled {
        > input:disabled,
        > img {
            opacity: 0.75;
        }
    }

    &.--invert {
        > input {
            background: $white;
            border: 1px solid #{$black}AA;
            color: $black;

            &::placeholder {
                color: $dark-gray;
            }

            &:focus {
                outline: solid 1px $black;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                transition: background-color 5000s !important;
                -webkit-text-fill-color: $black !important;
            }
        }
    }

    &.--invert-icon {
        > img {
            filter: invert(1);
        }
    }
}

.-validation-error {
    display: block;
    margin-top: 7px;
    color: $danger;
    width: 320px;
    font-weight: 800;

    &:empty {
        display: none;
    }
}


.-quotes-slideshow {
    width: 600px;
    height: 300px;
    position: relative;

    .content {
        padding: 60px 40px 0 60px;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        q {
            display: none;
        }

        q.active {
            display: block;
            quotes: none;
            font-size: 1.4rem;
            font-weight: 500;
            color: $white;
        }

        .quotation-mark {
            position: absolute;
            display: block;
            font-weight: 500;
            user-select: none !important;
            color: $white;

            &:first-of-type {
                top: 0;
                left: 0;
                font-size: 128px;
            }

            &:last-of-type {
                bottom: 0;
                right: 0;
                font-size: 98px;
            }
        }
    }

    .dots {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;

        span {
            display: inline-block;
            content: '';
            height: 14px;
            width: 14px;
            margin: 7px;
            border: 3px solid $white;
            border-radius: 50%;
            cursor: pointer;
        }

        span.active {
            background: $white;
        }
    }
}

@include media($bp-1100) {
    .-quotes-slideshow {
        width: 500px;
        height: 210px;

        .content {
            padding: 60px 40px 0 60px;

            q.active {
                font-size: 1.1rem;
            }

            .quotation-mark {
                &:first-of-type {
                    font-size: 96px;
                }

                &:last-of-type {
                    font-size: 64px;
                }
            }
        }

        .dots {
            height: 30px;

            span {
                height: 13px;
                width: 13px;
                margin: 6px;
                border: 3px solid $white;
            }
        }
    }
}

.-content-panel {
    height: max-content;
    width: fit-content;
    background-color: none;
    color: $white;

    > .panel-title {
        font-size: $title;
        font-weight: 600;
        margin: 0 0 20px 0;
    }

    > .panel-description {
        font-size: $subtitle;
        font-weight: 400;
        margin: 0 0 40px 0;
    }

    > .panel-column-flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
    }

    > .redirect-bottom-text {
        display: block;
        margin-bottom: 25px;
    }

    &.--center {
        margin-inline: auto;

        > .panel-title,
        > .panel-description {
            text-align: center;
        }

        > .panel-column-flex {
            align-items: center;
        }
    }
}

@include media($bp-1100) {
    .-content-panel {
        > .panel-title {
            font-size: 2.4rem;
        }

        > .panel-description {
        }
    }
}

.page-background {
    z-index: -99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    user-select: none !important;

    .background-image, .background-darken {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }

    .background-image {
        object-fit: cover;
        object-position: 50% 50%;
        filter: brightness(85%);
    }

    .background-darken {
        background-color: $black;
        opacity: 30%;
    }
}
