@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /*
  400 - Normal, Book, Regular
  500 - Medium
  600 - Semi Bold
  700 - Bold
  */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  /*outline: 1px dotted red;*/
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:link, avisited, a:hover {
  color: #ffffff;
}
a:hover {
  text-shadow: 0 0 0.1px #ffffff;
}

a.link {
  color: #2356ee;
  font-weight: 500;
}
a.link:link, a.link:visited, a.link:hover {
  color: #2356ee;
  text-shadow: none;
}
a.link:hover {
  text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
