@import "../utilities/_colors.scss";
@import "../utilities/_variables.scss";

.cookie-consent {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    bottom: 15px;
    width: 400px;
    height: fit-content;
    background: #{$black}90;
    padding: 20px 30px;
    backdrop-filter: blur(2px);

    .cookies-close-btn {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    .cookieConsentText {
        color: $white;
        font-weight: 500;
        margin-right: 2%;

        .privacy-link {
            font-weight: 600;
        }
    }

    .cookieConsentButton {
        /*        background: #{$green}BE;
        border: none;*/
    }
}
