@import "../utilities/_colors.scss";
@import "../utilities/_variables.scss";

.cookie-consent {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    right: 15px;
    bottom: 15px;
    width: 430px;
    height: fit-content;
    background: #{$black}90;
    padding: 20px 30px;
    backdrop-filter: blur(2px);

    .cookie-consent-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
    }

    .cookieConsentText {
        font-size: 0.95rem;
        color: $white;
        font-weight: 500;
        margin-right: 2%;

        .privacy-link {
            font-weight: 600;
        }
    }

    .buttons-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 15px;

        button, a {
            padding-inline: 15px;
        }
    }
}


@include media($bp-700) {
    .cookie-consent {
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 50px;
    }
}
