@import "../utilities/_colors.scss";
@import "../utilities/_variables.scss";
@import "../utilities/_functions.scss";

footer {
    width: 100%;
    height: min-content;
    background-color: #{$black}A0;
    color: $white;
    padding: 50px 5% 20px 5%;


    .footer-info-container {
        width: 100%;
        height: min-content;
        display: flex;
        justify-content: flex-start;
        gap: 8%;
        margin-bottom: 40px;

        .description-container {
            width: 30%;

            h2 {
                font-size: $heading;
                font-weight: 400;
                height: 80px;
            }

            p {
                margin-bottom: 15px;
            }
        }

        .sitemap-container {
            h3 {
                font-size: $subtitle;
                font-weight: 500;
                height: 80px;
            }

            nav {
                a {
                    display: block;
                    margin-bottom: 10px;
                    color: $white;
                }
            }
        }

        .feedback-container {
            h3 {
                font-size: $subtitle;
                font-weight: 500;
                height: 80px;
            }
        }
    }

    .legal-content-container {
        display: flex;
        justify-content: center;
        gap: 25px;

        a {
            font-size: calc($legal - 0.1rem);
            font-weight: 400;
            color: $gray;
        }
    }
}

@include media($bp-950) {
    footer {
        padding: 50px 10px 20px 6%;


        .footer-info-container {
            flex-direction: column;
            gap: 40px;

            .description-container {
                width: 100%;
            }

            .sitemap-container {
                h3 {
                    height: 50px;
                }
            }
        }

        .legal-content-container {
            flex-direction: column;
            align-items: center;

            a {
                font-size: calc($legal - 0.1rem);
            }
        }
    }
}