.nav-active {
  display: block !important;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: min-content;
  background-color: #080808;
  padding: 15px 40px 40px 40px;
}
.nav-active .nav-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav-active .nav-items .nav-item a {
  width: 100%;
  display: block;
  font-size: 1.2rem !important;
  text-transform: uppercase;
}
.nav-active .nav-items .nav-item a:after {
  content: none !important;
}
.nav-active .nav-items .nav-item:not(:last-child):after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: #161616;
}

@media screen and (max-width: 700px) {
  .nav-active {
    height: calc(100vh - 75px);
    padding: 40px;
  }
  .nav-active .nav-items .nav-item a {
    font-size: 1.5rem !important;
    width: 100%;
    display: block;
  }
}
.menu-active .menu-btn {
  display: none !important;
}
.menu-active .close-btn {
  display: block !important;
}

header {
  height: 75px;
}
header .top-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  width: 100%;
  padding-inline: 10px;
  background-color: #080808;
  color: #ffffff;
}
header .top-nav .logo {
  font-size: 2rem;
  font-weight: 400;
}
header .top-nav .logo a {
  text-decoration: none;
  color: #ffffff;
}
header .top-nav .nav-items-container .nav-items {
  white-space: nowrap;
}
header .top-nav .nav-items-container .nav-items .nav-item {
  display: inline;
  margin-inline: calc(1vw - 5px);
  list-style-type: none;
}
header .top-nav .nav-items-container .nav-items .nav-item a {
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
}
header .top-nav .nav-items-container .nav-items .nav-item a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.2s;
  height: 1px;
  width: 0%;
  border-radius: 10px;
  background: #ffffff;
}
header .top-nav .nav-items-container .nav-items .nav-item a:hover::after {
  width: 100%;
}
header .top-nav .controls {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
header .top-nav .controls .btn-black {
  height: 35px;
  width: fit-content;
  padding-inline: 30px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  color: #ffffff;
  background-color: #080808;
  cursor: pointer;
  user-select: none !important;
  font-weight: 600;
  font-size: 0.9rem;
  white-space: nowrap;
  transform: scale(1);
  transform-origin: left top;
}
header .top-nav .controls .btn-black:hover {
  background-color: #ffffff;
  color: #080808;
}
header .top-nav .controls a .account-name {
  color: #ffffff;
}
header .top-nav .controls a .profile-btn,
header .top-nav .controls .menu-controls .menu-btn,
header .top-nav .controls .menu-controls .close-btn {
  display: none;
  height: 35px;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  header .top-nav .logo {
    font-size: 1.5rem;
  }
  header .top-nav .nav-items-container .nav-items .nav-item a {
    font-size: 1rem;
  }
  header .top-nav .controls .login-btn {
    display: none;
  }
  header .top-nav .controls a .account-name {
    color: #ffffff;
  }
  header .top-nav .controls a .profile-btn {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  header .top-nav {
    justify-content: space-between;
    padding-inline: 30px;
  }
  header .top-nav .logo {
    font-size: 2rem;
  }
  header .top-nav .nav-items-container {
    display: none;
  }
  header .top-nav .controls a .account-name {
    color: #ffffff;
  }
  header .top-nav .controls a .profile-btn,
header .top-nav .controls .menu-controls .menu-btn,
header .top-nav .controls .menu-controls .close-btn {
    height: 45px;
  }
  header .top-nav .controls .menu-controls .menu-btn {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  top-nav {
    padding-inline: 20px !important;
  }
}
footer {
  width: 100%;
  height: min-content;
  background-color: #080808;
  color: #ffffff;
  padding: 50px 0 20px 5%;
}
footer .footer-info-container {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: flex-start;
  gap: 8%;
  margin-bottom: 40px;
}
footer .footer-info-container .description-container {
  width: 30%;
}
footer .footer-info-container .description-container h2 {
  font-size: 2rem;
  font-weight: 400;
  height: 80px;
}
footer .footer-info-container .description-container p {
  margin-bottom: 15px;
}
footer .footer-info-container .sitemap-container h3 {
  font-size: 1.3rem;
  font-weight: 500;
  height: 80px;
}
footer .footer-info-container .sitemap-container nav a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}
footer .footer-info-container .sitemap-container nav a:visited {
  color: #ffffff;
}
footer .footer-info-container .sitemap-container nav a:hover {
  text-shadow: 0 0 0.1px #ffffff;
}
footer .footer-info-container .feedback-container h3 {
  font-size: 1.3rem;
  font-weight: 500;
  height: 80px;
}
footer .footer-info-container .feedback-container .btn-black {
  height: 35px;
  width: fit-content;
  padding-inline: 30px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  color: #ffffff;
  background-color: #080808;
  cursor: pointer;
  user-select: none !important;
  font-weight: 600;
  font-size: 0.9rem;
  white-space: nowrap;
  transform: scale(1.1);
  transform-origin: left top;
}
footer .footer-info-container .feedback-container .btn-black:hover {
  background-color: #ffffff;
  color: #080808;
}
footer .legal-content-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}
footer .legal-content-container a {
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
}
footer .legal-content-container a:visited {
  color: #cccccc;
}

@media screen and (max-width: 900px) {
  footer {
    padding: 50px 0 40px 7%;
  }
  footer .footer-info-container {
    flex-direction: column;
    gap: 40px;
  }
  footer .footer-info-container .description-container {
    width: 100%;
  }
  footer .footer-info-container .sitemap-container h3 {
    height: 50px;
  }
  footer .legal-content-container {
    flex-direction: column;
    align-items: center;
  }
  footer .legal-content-container a {
    font-size: 0.7rem;
  }
}
