@import "../../utilities/_variables.scss";
@import "../../utilities/_functions.scss";

.first-section {
    position: relative;
    min-height: 600px;
    height: calc(100vh - $nav-height);

    .content-panel {
        .input-field {
            width: 100%;

            .input-text-field {
                width: 450px;
            }

            .textarea-message {
                width: 450px;
                height: 250px;
            }
        }
    }
}

@include media($bp-700) {
    .first-section {
        .content-panel {
            .input-field {
                width: 95%;

                .input-text-field {
                    width: 100%;
                }

                .textarea-message {
                    width: 100%;
                }
            }
        }
    }
}
