@import "../utilities/_colors.scss";

@mixin btn-black($scale: 1, $margin: 0px) {
    .btn-black {
        height: calc(35px * $scale);
        width: fit-content;
        padding-inline: 30px;
        border: 1px solid $white;
        border-radius: 7px;
        color: $white;
        background-color: $black;
        cursor: pointer;
        user-select: none !important;
        font-weight: 600;
        font-size: calc(0.9rem * $scale);
        white-space: nowrap;
        margin: $margin;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}

@mixin btn-icon($scale: 1, $margin: 0px) {
    .btn-icon {
        height: calc(150px * $scale);
        width: calc(200px * $scale);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-inline: 10px;
        margin: $margin;
        border: none;
        border-radius: 23px;
        color: $black;
        background-color: $white;
        cursor: pointer;
        user-select: none !important;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

        img {
            height: calc(65px * $scale);
        }

        span {
            height: calc(50px * $scale);
            display: block;
            font-weight: 500;
            font-size: calc(1.2rem * $scale);
            text-align: center;
        }
    }
    /* TODO: Possible optimization: Add @media here instead of everywhere else */
}


@mixin btn-white($scale: 1, $margin: 0px) {
    .btn-white {
        height: calc(40px * $scale);
        width: fit-content;
        padding-inline: 30px;
        margin: $margin;
        border: none;
        border-radius: 10px;
        color: $black;
        background-color: $white;
        cursor: pointer;
        user-select: none !important;
        text-transform: uppercase;
        font-weight: 600;
        font-size: calc(1rem * $scale);
        white-space: nowrap;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
