@import "../utilities/_colors.scss";
@import "../mixins/_buttons.scss";

@mixin panel($btns-scale: 1.1) {
    .panel-container {
        height: auto;
        width: 485px;
        background-color: $black;
        color: $white;
        border-radius: 0 0 45% 0;
        padding: 50px 0 50px 40px;

        .panel-title {
            font-size: 2.5rem;
            font-weight: 600;
            margin: 0 0 20px 0;
        }

        .panel-description {
            font-size: 1.1rem;
            font-weight: 400;
            margin: 0 0 40px 0;
        }

        .input-fields {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 40px;
            margin-bottom: 15px;

            .input-w-icon {
                position: relative;

                .input-icon {
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: translate(-50%, -50%);
                }

                .input-field {
                    height: 40px;
                    width: 300px;
                    background: none;
                    border: 1px solid #{$white}55;
                    border-radius: 7px;
                    color: $white;
                    padding-left: 40px;
                    font-size: 0.9rem;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .forgotten-password {
            display: block;
            margin-bottom: 15px;
        }

        .panel-buttons {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;

            @include btn-black($btns-scale);
        }

        .create-account-question {
            display: block;
        }
    }

    @media screen and (max-width: 700px) {
        .panel-container {
            width: 100%;
            padding: 30px 0 50px 40px;

            .panel-title {
                font-size: 2rem;
            }

            .panel-description {
                font-size: 1rem;
            }
        }
    }


    @media screen and (orientation: landscape) and (max-height: 520px) {
        .panel-container {
            transform: scale(0.6);
            transform-origin: left top;
        }
    }
}
