@import "../utilities/_colors.scss";

@mixin nature-background($position: absolute) {
    .background {
        z-index: -99;
        position: $position;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        .background-image, .background-darken {
            position: $position;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
        }

        .background-image {
            object-fit: cover;
            object-position: 50% 50%;
            filter: brightness(85%);
        }

        .background-darken {
            background-color: $black;
            opacity: 60%;
        }
    }
}
