@import "../utilities/_colors.scss";
@import "../utilities/_variables.scss";

@mixin panel($btns-scale: 1) {
    .panel-container {
        height: auto;
        width: fit-content;
        background-color: none;
        color: $white;

        .panel-title {
            font-size: $title;
            font-weight: 600;
            margin: 0 0 20px 0;
        }

        .panel-description {
            font-size: $subtitle;
            font-weight: 400;
            margin: 0 0 40px 0;
        }

        .input-fields {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 30px;
            margin-inline: auto;
            align-items: center;
            /*            @include input-default();
*/
        }
        /*        @include checkbox-default();
*/
        .forgotten-password, .create-account-question {
            display: block;
            margin-bottom: 25px;
        }

        .panel-buttons {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;
            /*            @include btn-default($btns-scale, true);
*/
        }
    }

    .panel-container.panel-centered {
        margin: auto;

        .panel-title {
            text-align: center;
        }

        .panel-description {
            text-align: center;
        }

        .forgotten-password, .create-account-question { /* TODO: Rename css classes */
            text-align: center;
        }

        .panel-buttons {
            align-items: center;
        }
    }
}
