@import "../utilities/variables";
@import "../components/buttons/buttons";

@mixin panel($btns-scale: 1.1) {
    .panel-container {
        height: auto;
        width: 485px;
        background-color: $black;
        color: $white;
        border-radius: 0 0 50% 0;
        padding: 50px 0 50px 40px;

        .panel-title {
            font-size: 2.5rem;
            font-weight: 600;
            margin: 0 0 20px 0;
        }

        .panel-description {
            font-size: 1.1rem;
            font-weight: 400;
            margin: 0 0 40px 0;
        }

        .panel-buttons {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include btn-black($btns-scale);
        }
    }

    @media screen and (max-width: 700px) {
        .panel-container {
            width: 100%;
            padding: 30px 0 50px 40px;

            .panel-title {
                font-size: 2rem;
            }

            .panel-description {
                font-size: 1rem;
            }
        }
    }
}
