@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Забравихте паролата си?";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/identity/login.min.css" asp-append-version="true" />
}

<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="" />
    <div class="background-darken"></div>
</div>
<section class="first-section -primary-section --responsive-top-padding">

    <div class="-content-panel --center">
        <h2 class="panel-title">@ViewData["Title"]</h2>
        <h4 class="panel-description">Въведете своя имейл адрес</h4>

        <form method="post" class="panel-column-flex">
            <div class="input-field">
                <div class="input-text-field -text-field-input --icon --invert-icon">
                    <input asp-for="Input.Email" placeholder="Имейл" type="text" />
                    <img src="/assets/mailIcon.svg" />
                </div>
                <span asp-validation-for="Input.Email" class="-validation-error"></span>
            </div>

            <button type="submit" class="-button --large">Изпрати</button>
            <span class="redirect-bottom-text">Не разполагате с акаунт? <a asp-page="./Register" class="-link">Създайте го!</a></span>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
