@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Забравена парола";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/identity/accountPages.min.css" asp-append-version="true" />
}

<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" aria-hidden="true" />
    <div class="background-darken"></div>
</div>

<section class="first-section -primary-section --responsive-top-padding">
    <div class="-content-panel --center">
        <h2 class="panel-title">Формулярът бе изпратен</h2>
        <h4 class="panel-description">Моля проверете имейла си</h4>
        <br style="margin-top: 50px;" />
        <div class="panel-column-flex">
            <a asp-area="Identity" asp-page="/Account/Login" class="-button --large">Разбрах</a>
        </div>
    </div>
</section>