@page
@model LoginModel

@{
    ViewData["Title"] = "Впиши се";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/identity/accountPages.min.css" asp-append-version="true" />
}

<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" aria-hidden="true" />
    <div class="background-darken"></div>
</div>
<section class="first-section -primary-section --responsive-top-padding">

    <div class="-content-panel --center">
        <h2 class="panel-title">@ViewData["Title"]</h2>
        <h4 class="panel-description">Въведете своите данни</h4>

        <form method="post" class="panel-column-flex">
            <div class="input-field">
                <div class="input-text-field -text-field-input --icon --invert-icon">
                    <input asp-for="Input.Email" placeholder="Имейл" autocomplete="email" aria-describedby="email-validation-error" type="text" aria-required="true" required />
                    <img src="/assets/mailIcon.svg" aria-hidden="true" />
                </div>
                <span asp-validation-for="Input.Email" id="email-validation-error" class="-validation-error" role="alert"></span>
            </div>
            <div class="input-field">
                <div class="input-text-field -text-field-input --icon --invert-icon">
                    <input asp-for="Input.Password" placeholder="Парола" autocomplete="password" aria-describedby="password-validation-error" required type="password" />
                    <img src="/assets/keyIcon.svg" aria-hidden="true" />
                </div>
                <span asp-validation-for="Input.Password" id="password-validation-error" class="-validation-error" role="alert"></span>
            </div>

            <label class="-checkbox-label">
                <input class="-checkbox" type="checkbox" />
                <span>Запомни ме</span>
            </label>

            <div asp-validation-summary="All" class="-validation-error"></div>

            <button type="submit" class="-button --large">@ViewData["Title"]</button>
            <a asp-page="./ForgotPassword" class="-link --white redirect-bottom-text">Забравена парола?</a>
            <span class="redirect-bottom-text">Не разполагате с акаунт? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="-link --white">Създайте го!</a></span>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
