@page
@model LogoutModel
@{
    ViewData["Title"] = "Изход";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/index/index.min.css" asp-append-version="true" />
}


<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" aria-hidden="true" />
    <div class="background-darken"></div>
</div>

<section class="first-section -primary-section">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <div class="-content-panel --center">
                <h2 class="panel-title">Успешно излязохте от профила си<br></h2>
                <h4 class="panel-description">Ще бъдете пренасочени след момент...</h4>
                <div class="panel-column-flex">
                </div>
            </div>
        }
    }
</section>

@section Scripts {
    <script>
        window.setTimeout(function() {
            window.location.href = "/" }, 5000);
    </script>
}