@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрирай се";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/identity/register.min.css" asp-append-version="true" />
}

<div class="background">
    <img class="background-image" src="/assets/backgroundImage.png" alt="" />
    <div class="background-darken"></div>
</div>
<section class="first-section">

    <div class="panel-container panel-centered">
        <h2 class="panel-title">@ViewData["Title"]</h2>
        <h4 class="panel-description">Въведете своите данни</h4>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="input-fields">
                <div class="input-field">
                    <div class="input-text-field -text-field-input --icon --invert-icon">
                        <input asp-for="Input.Email" placeholder="Имейл" type="text" />
                        <img src="/assets/mailIcon.svg" />
                    </div>
                    <span asp-validation-for="Input.Email" class="-validation-error"></span>
                </div>

                <div class="input-field">
                    <div class="name-input input-text-field -text-field-input --icon --invert-icon">
                        <input asp-for="Input.Name" placeholder="Име" type="text" />
                        <img src="/assets/person.svg" />
                    </div>
                    <span asp-validation-for="Input.Name" class="-validation-error"></span>
                </div>

                <div class="input-field">
                    <div class="input-text-field -text-field-input --icon --invert-icon">
                        <input asp-for="Input.Password" placeholder="Парола" type="password" />
                        <img src="/assets/keyIcon.svg" />
                    </div>
                    <span asp-validation-for="Input.Password" class="-validation-error"></span>
                </div>

                <div class="input-field">
                    <div class="input-text-field -text-field-input --icon --invert-icon">
                        <input asp-for="Input.ConfirmPassword" placeholder="Потвърди парола" type="password" />
                        <img src="/assets/keyIcon.svg" />
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="-validation-error"></span>
                </div>

                <label class="-checkbox-label" asp-for="Input.AcceptTos">
                    <input asp-for="Input.AcceptTos" class="-checkbox" type="checkbox" />
                    <span>@Html.DisplayNameFor(m => m.Input.AcceptTos)</span>
                </label>
            </div>

            <div class="panel-buttons">
                <button type="submit" class="-button --large">@ViewData["Title"]</button>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
