@using iCareNow.Common
@{
    this.ViewData["Title"] = "{Заглавие на статия}";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/healthArticle/healthArticle.min.css" asp-append-version="true" />
}
<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="Background image" />
    <div class="background-darken"></div>
</div>
<section class="article-container -primary-section" aria-label="Раздел информация за болестта">
    <div class="vertical-line"></div>
    <div class="article-summary">
        <h1 class="article-title">Болно гърло</h1>
        <button class="tts-speaker-container" onclick="clickTtsBtn()" aria-label="Click to listen to the article" tabindex="1">
            <span class="tts-speaker active">🔊</span>
            <span class="tts-speaker">🔇</span>
            <span class="tts-text active">Изслушай статията</span>
            <span class="tts-text">Спри слушането</span>
        </button>
        <p class="article-description">Болките в гърлото са много често срещани и обикновено няма повод за притеснение. Най-често гърлото се подобрява в рамките на една седмица.</p>
    </div>
    <div class="specialist-advice">
        <details open class="-details --box --box-red" aria-label="Кога да позвъните на 112">
            <summary>
                <span>Веднага позванете на 112, ако:</span>
            </summary>
            <div class="disclosure-content -content">
                <p>Вие или вашето дете имате следните симптоми:</p>
                <ul class="-list">
                    <li>трудности при преглъщане и дишане</li>
                    <li>стичане на слюнка от устата – това може да е признак, че детето ви не може да преглъща</li>
                    <li>издаване на слиен звук звук при дишане (стридор)</li>
                    <li>симптомите са тежки и се влошават много бързо</li>
                </ul>
            </div>
        </details>
        <details open class="-details --box --box-blue" aria-label="Кога да посетите личен лекар">
            <summary>
                <span>Посетете личен лекар, ако:</span>
            </summary>
            <div class="-content">
                <ul class="-list">
                    <li>болките в гърлото не се подобряват след една седмица </li>
                    <li>често страдате от болки в гърлото</li>
                    <li>изпитвате силна тревога за болното си гърло</li>
                    <li>имате възпалено гърло и много висока температура или усещате горещина и тръпки</li>
                    <li>имате отслабена имунна система – например поради диабет или химиотерапия</li>
                </ul>
                <p>Силно или продължително възпалено гърло може да бъде нещо като стрептокок в гърлото (бактериална инфекция на гърлото).</p>
            </div>
        </details>
    </div>

    <article class="article-content" aria-label="Статия за болестта">
        <article class="subsection">
            <h2>Как сами да лекувате възпаленото си гърло</h2>
            <p>За да успокоите болното гърло и да съкратите продължителността му:</p>
            <ul class="-list --margin-left">
                <li>трябва да пиете много вода</li>
                <li>можете да правите гаргара с топла, солена вода (не се препоръчва за деца)</li>
                <li>можете да смучете кубчета лед или ледени близалки, но не давайте на малки деца нищо малко и трудно за смучене поради риск от задавяне</li>
            </ul>
            <p>Ако имате висока температура или не се чувствате достатъчно добре, за да можете да извършвате нормалните си дейности, опитайте се да си останете у дома и да избягвате контакт с други хора, докато не се почувствате по-добре.</p>
            <details class="-details --box" aria-label="Разтваряща се кутия с допълнителна информация">
                <summary><span>Как се прави гаргара със солена вода</span></summary>
                <div class="-content">
                    <ul class="-list --decimal">
                        <li class="">Разтворете половин чаена лъжичка сол в чаша топла вода (топлата вода помага за разтварянето на солта).</li>
                        <li>Направете гаргара с разтвора, след което го изплюйте (не го поглъщайте).</li>
                        <li>Повтаряйте колкото често желаете</li>
                    </ul>
                </div>
            </details>
        </article>
        <article class="subsection">
            <h2>Фармацевтът може да помогне при болки в гърлото</h2>
            <p>Можете да попитате фармацевта за начини за облекчаване на болката и дискомфорта при възпалено гърло, като например:</p>
            <ul class="-list --margin-left">
                <li>парацетамол или ибупрофен</li>
                <li>медикаментозни таблетки за смучене, съдържащи местен анестетик, антисептично или противовъзпалително лекарство</li>
                <li>анестетичен спрей (въпреки че има малко доказателства, че помага).</li>
            </ul>
            <p>Можете да закупите тези лекарствени средства от супермаркет или от фармацевт без рецепта.</p>
        </article>

        <article class="subsection">
            <h2>Антибиотици</h2>
            <p>Обикновено не се нуждаете от антибиотици при възпалено гърло, защото те ще обикновено не облекчават симптомите Ви и не ускоряват възстановяването Ви.</p>
            <p>Те се предписват само ако личният лекар прецени, че може да имате бактериална инфекция.</p>
        </article>

        <article class="subsection">
            <h2>Симптоми</h2>
            <p>Ако имате възпалено гърлото, може да имате:</p>
            <ul class="-list --margin-left">
                <li>болки в гърлото, особено при преглъщане</li>
                <li>сухо, драскащо гърло</li>
                <li>зачервяване в задната част на устата</li>
                <li>лош дъх</li>
                <li>лека кашлица</li>
                <li>подути лимфни възли</li>
            </ul>
            <p>Симптомите са подобни и при децата, но те също могат да вдигнат температура и да изглеждат по-малко активни.</p>
        </article>

        <article class="subsection">
            <h2>Причини за възпаление на гърлото</h2>
            <p>Болките в гърлото обикновено се причиняват от вируси (като настинка или грип) или от тютюнопушене. Много рядко те могат да бъдат причинени от бактерии.</p>
            <p>Възпаленото гърло също може да бъде причинено от:</p>
            <ul class="-list --margin-left">
                <li>ларингит</li>
                <li>тонзилит</li>
                <li>стрептококова инфекция на гърлото (бактериална инфекция на гърлото)</li>
                <li>жлезиста треска</li>
            </ul>
            <p>Симптомите са подобни и при децата, но те също могат да вдигнат температура и да изглеждат по-малко активни.</p>
        </article>
    </article>

    <article class="revision-info" aria-label="Информация за статията и източника">
        <p>Източник: <a href="#" class="-link" lang="en" hreflang="en">https://www.nhs.uk/conditions/sore-throat/</a><br />Политика на съдържанието на източника: <a href="#" class="-link">https://www.nhs.uk/our-policies/content-policy/</a></p>
        <p>Последна проверка на информацията: 05 февруари 2021 г. <br />Следващият срок за преглед: 05 февруари 2024 г.</p>
    </article>
</section>

@section Scripts {
    <script src="~/js/healthArticle.js" asp-append-version="true"></script>
}