@using iCareNow.Common
@model iCareNow.Web.ViewModels.Articles.ArticleInputModel
@{
    this.ViewData["Title"] = Model.Title;
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/healthArticle/healthArticle.min.css" asp-append-version="true" />
}
<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" aria-hidden="true" />
    <div class="background-darken"></div>
</div>

@Html.Raw(Model.Content)

@section Scripts {
    <script src="~/js/healthArticle.js" asp-append-version="true"></script>
}