@using iCareNow.Common
@model iCareNow.Web.ViewModels.Articles.ArticleInputModel
@{
    this.ViewData["Title"] = Model.Title;
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/healthArticle/healthArticle.min.css" asp-append-version="true" />
}
<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" aria-hidden="true" />
    <div class="background-darken"></div>
</div>

@Html.Raw(Model.Content)
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="admin-delete-confirm-darken -hide">
        <form method="post" class="admin-delete-confirm-overlay">
            <span class="confirm-text">Наистина ли искаш да изтриеш тази статия?</span>
            <div class="confirm-options">
                <button asp-area="Administration" asp-controller="Articles" asp-action="Delete" asp-route-id="@Model.Id" type="submit" class="-button --danger">Изтрий</button>
                <button type="button" onclick="toggleArticleDeleteConfirmation()" class="-button">Отмени</button>
            </div>
        </form>
    </div>

    <div class="admin-controls">
        <a class="-button --invert" asp-area="Administration" asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a>
        <button type="button" onclick="toggleArticleDeleteConfirmation()" class="-button --danger open-delete-confirm">Изтрий</button>
    </div>
}

@section Scripts {
    <script src="~/js/healthArticle.min.js" asp-append-version="true"></script>
}