@using iCareNow.Common
@model iCareNow.Web.ViewModels.Articles.ArticlesListViewModel
@{
    this.ViewData["Title"] = "Здраве";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/healthAtoZ/healthAtoZ.min.css" asp-append-version="true" />
}
<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" aria-hidden="true" />
    <div class="background-darken"></div>
</div>

<section class="health-a-to-z -primary-section" aria-label="Раздел търсене на болест">
    <div class="searchbar-area">
        <h1 class="search-heading">Търси</h1>
        <form method="get" asp-controller="Health" asp-action="Index" class="search-input-field">
            <div class="search-text-field-input -text-field-input --icon --invert">
                <input type="search" asp-for="Search" placeholder="Търси болест или симптом" role="search" />
                <img class="-input-icon" src="/assets/mag-glass.svg" aria-hidden="true" />
            </div>
            <button class="search-button" type="submit">ТЪРСИ</button>
        </form>
        <div class="letters" aria-label="Бутони за скок към буква">
            <a href="#Letter1" class="-hover-text-white-glare">А</a>
            <a href="#Letter2" class="-hover-text-white-glare">Б</a>
            <a href="#Letter3" class="-hover-text-white-glare">В</a>
            <a href="#Letter4" class="-hover-text-white-glare">Г</a>
            <a href="#Letter5" class="-hover-text-white-glare">Д</a>
            <a href="#Letter6" class="-hover-text-white-glare">Е</a>
            <a href="#Letter7" class="-hover-text-white-glare">Ж</a>
            <a href="#Letter8" class="-hover-text-white-glare">З</a>
            <a href="#Letter9" class="-hover-text-white-glare">И</a>
            <a href="#Letter10" class="-hover-text-white-glare">Й</a>
            <a href="#Letter11" class="-hover-text-white-glare">К</a>
            <a href="#Letter12" class="-hover-text-white-glare">Л</a>
            <a href="#Letter13" class="-hover-text-white-glare">М</a>
            <a href="#Letter14" class="-hover-text-white-glare">Н</a>
            <a href="#Letter15" class="-hover-text-white-glare">О</a>
            <a href="#Letter16" class="-hover-text-white-glare">П</a>
            <a href="#Letter17" class="-hover-text-white-glare">Р</a>
            <a href="#Letter18" class="-hover-text-white-glare">С</a>
            <a href="#Letter19" class="-hover-text-white-glare">Т</a>
            <a href="#Letter20" class="-hover-text-white-glare">У</a>
            <a href="#Letter21" class="-hover-text-white-glare">Ф</a>
            <a href="#Letter22" class="-hover-text-white-glare">Х</a>
            <a href="#Letter23" class="-hover-text-white-glare">Ц</a>
            <a href="#Letter24" class="-hover-text-white-glare">Ч</a>
            <a href="#Letter25" class="-hover-text-white-glare">Ш</a>
            <a href="#Letter26" class="-hover-text-white-glare">Щ</a>
            <a href="#Letter27" class="-hover-text-white-glare">Ъ</a>
            <a href="#Letter28" class="-hover-text-white-glare">Ю</a>
            <a href="#Letter29" class="-hover-text-white-glare">Я</a>
        </div>
    </div>

    <div class="results">
        <details aria-label="Филтриране на резултатите" class="filters-disclosure -details --horizontal-line --invert">
            <summary>
                <span>ФИЛТРИ</span>
                <div class="summary-line"></div>
            </summary>

            <div class="-content">
                <details open class="category-disclosure -details">
                    <summary class="category-disclosure-summary">
                        <span>Биологични системи</span>
                    </summary>

                    <fieldset class="bio-system-buttons -content">
                        @foreach (var bioSystem in Model.BioSystems)
                        {
                           <label class="-checkbox-button --small">
                               <input type="checkbox" />
                               <span>@bioSystem</span>
                           </label>
                        }
                    </fieldset>
                </details>
            </div>
        </details>

        <div id="articleList">
            @if (Model.Search != null && Model.Articles.Count() == 0)
            {
                <h1>No Results</h1>
            }
            <partial name="_ArticleListPartial" model="@Model" />
        </div>
    </div>
</section>

<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script src="~/js/articleList.js" asp-append-version="true"></script>

    <script>

        $(document).ready(function() {

            const inputs = document.querySelectorAll('.bio-system-buttons  input[type=checkbox]');

            let bioSystemsToFilter = [];
            let articlesIds = [];

            @foreach (var article in Model.Articles)
            {
                <text>
                    articlesIds.push("@article.Id");
                </text>
            }

            for (let input of inputs) {
                input.addEventListener('change', (event) => {
                    const bioSystem = event.target.parentElement.querySelector('span').textContent;

                    if (bioSystemsToFilter.includes(bioSystem)) {
                        const index = bioSystemsToFilter.indexOf(bioSystem);

                        bioSystemsToFilter.splice(index, 1);
                    } else {
                        bioSystemsToFilter.push(bioSystem);
                    }

                    let data = { articlesIds: articlesIds, bioSystemsToFilter: bioSystemsToFilter };

                    var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();

                    $.ajax({
                        type: "POST",
                        url: 'api/Filters',
                        data: JSON.stringify(data),
                        headers: {
                            'X-CSRF-TOKEN': antiForgeryToken
                        },
                        success: function(result) {
                            $('#articleList').html(result)
                        },
                        contentType: 'application/json',
                    });
                });
            }
        });
    </script>
}