@model iCareNow.Web.ViewModels.Articles.CreateArticleInputModel
@{
    this.ViewData["Title"] = "Добавяне на статия";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/admin/crudArticle.min.css" asp-append-version="true" />
}




<div class="page-background">
    <img class="background-image" src="/assets/backgroundImage.jpg" aria-hidden="true" />
    <div class="background-darken"></div>
</div>
<section class="first-section -primary-section">

    <div class="content-panel -content-panel --center">
        <h2 class="panel-title">@ViewData["Title"]</h2>
        <h4 class="panel-description">Въведете данните за статията</h4>

        <form method="post" class="content-panel-form panel-column-flex">


            <div class="input-field">
                <div class="input-text-field -text-field-input">
                    <input asp-for="Title" placeholder="Заглавие" type="text" required />
                </div>
                <span asp-validation-for="Title" class="-validation-error" role="alert"></span>
            </div>

            <div class="input-field">
                <div class="-select --large">
                    <select asp-for="BioSystem" asp-items="@Model.BioSysytemItems"></select>
                </div>
                <span asp-validation-for="BioSystem" class="-validation-error" role="alert"></span>
            </div>

            <div class="input-field">
                <textarea class="-textarea --resize-vertical content-textarea" asp-for="Content" placeholder="Съдържание" required></textarea>
                <span asp-validation-for="Content" class="-validation-error" role="alert"></span>
            </div>

            <div class="input-field">
                <textarea class="-textarea --resize-vertical content-textarea" asp-for="Keywords" placeholder="Ключови думи" required></textarea>
                <span asp-validation-for="Keywords" class="-validation-error" role="alert"></span>
            </div>




            <button type="submit" value="Create" class="-button --large">@ViewData["Title"]</button>
        </form>
    </div>
</section>

@*
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
