@model iCareNow.Web.ViewModels.Articles.EditArticleInputModel
@{
    this.ViewData["Title"] = "Edit Article";
}

<form method="post">

    <input type="hidden" asp-for="Id" />

    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <span asp-validation-for="Title"></span>

    <label asp-for="Content"></label>
    <textarea asp-for="Content"></textarea>
    <span asp-validation-for="Content"></span>

    <label asp-for="BioSystem"></label>
    <input asp-for="BioSystem" />
    <span asp-validation-for="BioSystem"></span>

    <label asp-for="Keywords"></label>
    <input asp-for="Keywords"/>
    <span asp-validation-for="Keywords"></span>

    <input type="submit" value="Edit" />
</form>