@import "../../utilities/_functions.scss";
@import "../../utilities/_variables.scss";
@import "../../utilities/_colors.scss";

.first-section {
    .about-us-heading-container {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 210px;
        padding-inline: 100px;

        h1 {
            font-size: $title;
            font-weight: 600;
            color: $white;
        }
    }

    .main-container {
        height: auto;
        width: 100%;
        background-color: #{$black}B3;

        .first-group {
            height: 420px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .second-group {
            width: 100%;
            height: 420px;
            background: #{$black}B3;
            padding-top: 40px;

            h2 {
                width: 100%;
                text-align: center;
                color: $white;
                font-size: $heading;
                font-weight: 500;
            }

            .icon-block-containers-wrap {
                display: flex;
                height: 200px;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                margin-top: 70px;

                .icon-block-container {
                    height: 100%;
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;

                    img {
                        height: 100px;
                        width: 100px;
                    }

                    span {
                        display: block;
                        color: $white;
                        width: 100%;
                        font-size: $p1;
                        font-weight: 500;
                        text-align: center;

                        .green {
                            display: inline;
                            color: $green;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .third-group {
            height: 420px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}


// global

.text-block-container {
    height: 270px;
    max-width: 500px;

    h3 {
        color: $white;
        font-size: $heading;
        margin-bottom: 50px;
    }

    p {
        margin-top: 10px;
        font-size: $p2;
        color: $white;
    }
}

.text-block-divider {
    height: 60%;
    width: 1px;
    background-color: $white;
}

@include media($bp-1600) {
    .first-section {
        .about-us-heading-container {
            width: 100%;
            height: 150px;
        }
    }

    .text-block-divider {
        display: none;
    }

    .text-block-container {
        width: auto;
        height: auto;
        padding-inline: 20px;
    }

    .first-group {
        padding-inline: 20px;
        height: 550px;
    }
}

@include media($bp-1100) {
    .first-section {
        .about-us-heading-container {
            height: 200px;
            padding-inline: 30px;
        }

        .main-container {
            .first-group {
                height: fit-content;
                padding-block: 50px;
                flex-direction: column;
                gap: 60px;
            }

            .second-group {
                height: fit-content;
                padding-block: 40px;

                .icon-block-containers-wrap {
                    height: auto;
                    flex-direction: column;
                    margin-top: 50px;
                    gap: 50px;

                    .icon-block-container {
                        height: 100%;
                        width: 300px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 30px;

                        img {
                            height: 100px;
                            width: 100px;
                        }

                        span {
                            display: block;
                            color: $white;
                            width: 100%;
                            font-size: $p1;
                            font-weight: 500;
                            text-align: center;

                            .green {
                                display: inline;
                                color: $green;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            .third-group {
                height: fit-content;
                padding-block: 50px;
                flex-direction: column;
                padding-inline: 20px;
                gap: 60px;
            }
        }
    }

    .text-block-container {
        height: fit-content;

        h3 {
            margin-bottom: 30px;
        }
    }
}