@using iCareNow.Common
@{
    this.ViewData["Title"] = "Обратна връзка";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/feedback/feedback.min.css" asp-append-version="true" />
}
<div class="background">
    <img class="background-image" src="/assets/backgroundImage.jpg" alt="" />
    <div class="background-darken"></div>
</div>
<section class="first-section">
    <div class="panel-container panel-centered">
        <h2 class="panel-title">@ViewData["Title"]</h2>
        <h4 class="panel-description">Въведете своя имейл и съобщение</h4>

        <form method="post">
            <div class="input-fields">
                <div class="input-field">
                    <div class="input-text-field -text-field-input --icon --invert-icon">
                        <input placeholder="Имейл" type="text" />@*asp-for="Input.Email"*@
                        <img src="/assets/mailIcon.svg" />
                    </div>
                    <span class="-validation-error"></span>@*asp-validation-for="Input.Email"*@
                </div>
                <div class="input-field">
                    <textarea class="textarea-message -textarea" placeholder="Вашето съобщение за нас"></textarea>

                    <span class="-validation-error"></span> @*asp-validation-for="Input.Password"*@
                </div>

@*                <label class="-checkbox-label">
                    <input class="-checkbox" type="checkbox" />
                    <span>Запомни ме</span>
                </label>*@
            </div>

            <div class="panel-buttons">
                <button type="submit" class="-button --large">Изпращане</button>
            </div>
        </form>
        @*<a class="-link forgotten-password">Забравена парола?</a> @*asp-page="./ForgotPassword"*@
        @*<span class="create-account-question">Не разполагате с акаунт? <a class="-link">Създайте го!</a></span> @*asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"*@
    </div>
</section>